<h2 mat-dialog-title>{{ 'HOME.PRAYER_REQUEST' | translate }}</h2>

<mat-dialog-content class="dialog-content">

    <form [formGroup]="prayReqForm">
        <!-- Campo de texto largo -->
        <mat-form-field appearance="outline" class="full-width mt-2 mb-3">
            <mat-label>{{ 'HOME.PRAYER_REQUEST_MODAL.MESSAGE' | translate }}</mat-label>
            <!-- <textarea matInput [(ngModel)]="mensaje" name="mensaje" required></textarea> -->
            <textarea matInput formControlName="message" name="message" rows="4" placeholder="{{ 'HOME.PRAYER_REQUEST_MODAL.MESSAGE_PLACEHOLDER' | translate }}." required></textarea>
            <mat-error *ngIf="prayReqForm.get('message')?.touched && prayReqForm.get('message')?.errors?.['required']">
                {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
            </mat-error>            
            <mat-error *ngIf="prayReqForm.get('message')?.touched && prayReqForm.get('message')?.errors?.['maxLengthExceeded']">
                {{ 'HOME.FIELD_ERROR_MAXIMUM_LENGTH' | translate }}.
            </mat-error>
        </mat-form-field>

        <!-- Campo de correo electrónico -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'HOME.PRAYER_REQUEST_MODAL.EMAIL' | translate }}</mat-label>
            <!-- <input matInput [(ngModel)]="email" name="email" required email> -->
            <input matInput formControlName="email" name="email" placeholder="{{ 'HOME.PRAYER_REQUEST_MODAL.EMAIL_PLACEHOLDER' | translate }}." required>
            <mat-error *ngIf="prayReqForm.get('email')?.touched && prayReqForm.get('email')?.errors?.['required']">
                {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
            </mat-error>
            <mat-error *ngIf="prayReqForm.get('email')?.touched && prayReqForm.get('email')?.errors?.['invalidEmail'] && !prayReqForm.get('email')?.errors?.['required']">
                {{ 'HOME.FIELD_ERROR_TEXT_VALID_EMAIL' | translate }}.
            </mat-error>
        </mat-form-field>

      <!-- Mensaje de error -->
      <div *ngIf="envioFallido">
        <div class="container mt-2">
            <div class="alert alert-danger text-dark" role="alert">
                {{ 'HOME.EMAIL_ERROR_TEXT' | translate }}.
            </div>
        </div>
      </div> 

  </form>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()" class="cancel-button">
        {{ 'HOME.BUTTON_CANCEL' | translate }}
    </button>
    <button mat-button (click)="onEnviar()" [disabled]="prayReqForm.invalid" class="enviar-button">
        {{ 'HOME.BUTTON_SEND' | translate }}
    </button>
</mat-dialog-actions>