// @import '../../../../styles/_variables.scss';


#requirementsSection, #englishRequirementsSection {

    // background-color: rgb(33, 33, 33);
    background-color: rgb(252, 227, 178);
    // color: white;

    //=========== NORMAL SCREEN SIZE ===========//
    @media only screen and (min-width: 1047px) {
        padding: 70px 60px 70px 60px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 1046px) {
        padding: 60px 60px 70px 60px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 430px) {
        padding: 70px 20px 50px 20px;
    }



    .requirementRow {

            display: flex;
            flex-wrap: wrap;
            width: 100%;
            // height: 100%;
            justify-content: center;
            align-items: center;
            margin: 0 auto;



            #requirementTitle {

                display: block;
                width: 85%;
                
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    padding-bottom: 45px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    padding-bottom: 40px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 430px) {
                    padding-bottom: 35px;
                }
        
        
                #uneteMisionesTitleFirstLine {
                    font-size: 1.3rem;
                    color: #3f51b5;
                    letter-spacing: 4px;
                    margin: 0 auto;
                    padding-bottom: 5px;
                    margin-bottom: 0px;
                    text-align: center;
                } 
            
                #uneteMisionesTitleSecondLine {
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        font-size: 2.9rem;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1046px) {
                        font-size: 2.9rem;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 414px) {
                        font-size: 2.6rem;
                    }
                    // font-family: serif !important;
                    color:  var(--bs-dark-rgb);
                    letter-spacing: 6px;
                    margin: 0 auto;
                    padding-bottom: 15px;
                    margin-bottom: 10px;
                    text-align: center;
                } 

                #titleHr {
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        display: block;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1185px) {
                        display: none;
                    }

                }

            } //end requirementTitle


            .brochureContainer {

                display: flex;
                padding: 0;
                margin: 0 auto;
                
                // padding: 0;
            
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1350px) {
                    width: 35%;
                    // max-width: 40%;
                    // min-width: 40%;
                    justify-content: right;
                    // padding: 0 20px 30px 20px;
                    // padding: 0;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1349px) {
                    width: 35%;
                    justify-content: center;
                    // padding: 0 20px 30px 20px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1185px) {
                    width: 100%;
                    justify-content: center;
                    padding: 0 0 70px 0;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    width: 100%;
                    justify-content: center;
                    padding: 0 0 70px 0;
                }


                .imageContainer {
                    display: flex;
                    justify-content: center;

                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1350px) {
                        max-width: 370px;
                        min-width: 370px;
                        max-height: 480px; /* Alto fijo */
                        min-height: 480px; /* Alto fijo */
                        margin: 0 0;
                        padding: 0;
                    }
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (max-width: 1349px) {
                        max-width: 350px;
                        min-width: 350px;
                        max-height: 460px; /* Alto fijo */
                        min-height: 460px; /* Alto fijo */
                        margin: 0 0;
                        padding: 0;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1046px) {
                        min-width: 380px;
                        min-height: 490px; /* Alto fijo */
                        margin: 0 auto;
                        padding: 0;
                    }
                    @media only screen and (max-width: 850px) {
                        min-width: 370px;
                        min-height: 470px; /* Alto fijo */
                        margin: 0 auto;
                        padding: 0;
                    }
                    @media only screen and (max-width: 650px) {
                        max-width: 340px;
                        min-width: 340px;
                        min-height: 440px; /* Alto fijo */
                        margin: 0 auto;
                        padding: 0;
                    }
                    @media only screen and (max-width: 550px) {
                        max-width: 320px;
                        min-width: 320px;
                        min-height: 420px; /* Alto fijo */
                        margin: 0 auto;
                        padding: 0;
                    }
                    @media only screen and (max-width: 376px) {
                        max-width: 300px;
                        min-width: 300px;
                        min-height: 400px; /* Alto fijo */
                        // padding-left: 20px;
                        // padding-right: 20px;
                    }
                    // margin-bottom: 30px;
                    

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                        // width: 250px;
                        // max-height: 500px; /* Alto fijo */
                
                        border: 9px solid #fff; // Borde blanco
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.986); // Sombra suave
                        border-radius: 10px; // Bordes redondeados
                        transition: transform 0.3s ease, box-shadow 0.3s ease;
                
                        
                        &:hover {
                            transform: scale(1.05); // Efecto de zoom al pasar el mouse
                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Sombra más pronunciada al pasar e
                        }
                
                    } //end imageContainer img

                } //end imageContainer
    
                
            } //end brochureContainer

        


            .requirementTextContainer {

                // display: flex;
                justify-content: left;
                line-height: 1.2;
                color: #333;
                // color: white;
                font-size: 0.9rem;
                // max-width: 800px;
                // margin: 0 0 ;
                padding: 0;
                // padding: 20px;

                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1350px) {
                    width: 55%;
                    margin: 0px 30px;
                }
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (max-width: 1349px) {
                    width: 55%;
                    margin: 0px 30px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1185px) {
                    width: 70%;
                    margin: 0 0;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    width: 80%;
                    margin: 0 0;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 850px) {
                    width: 85%;
                    margin: 0 0;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 650px) {
                    width: 90%;
                    margin: 0 0;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 550px) {
                    width: 95%;
                    margin: 0 0;
                }

                #requirementTitle {
                    font-size: medium;
                    font-weight: bold;
                    padding-bottom: 10px;
                }


                .requirementList {
                    
                    // padding-left: 20px;

                    li {
                        
                        margin-bottom: 10px;


                        ul {
                            
                            //=========== CELL PHONE SIZE ===========//
                            @media only screen and (min-width: 1047px) {
                                padding-left: 20px;
                            }
                            //=========== CELL PHONE SIZE ===========//
                            @media only screen and (max-width: 1046px) {
                                padding-left: 0px;
                            }
                            list-style-type: circle;
                            margin-top: 5px;
                        }
                        
                        .nota {
                            font-style: italic;
                            color: #666;
                            margin-top: 5px;
                            padding-left: 20px;
                        }
                    }

                    
                } //end requirementList
                
                
            } //end requirementTextContainer

        
    } //end requirementRow

} //end previousYearVideo