<header class="header">
    <div class="logo">
      <img src="assets/logo-gama.png" alt="GAMA Logo">
      <span>GAMA evangelistic association</span>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/quienes-somos">Quiénes somos</a></li>
        <li><a routerLink="/equipo">El Equipo</a></li>
        <li><a routerLink="/unete-misiones">Únete a las misiones</a></li>
        <li><a (click)="abrirModalOracion()">Petición de Oración</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Modal de Petición de Oración -->
  <!-- <app-modal #modalOracion titulo="Envíanos tu petición de oración:">
    <p>Compártenos tu petición o motivo de agradecimiento</p>
    <textarea placeholder="Escribe aquí tu petición..."></textarea>
    <button (click)="modalOracion.cerrar()">Cancelar</button>
    <button>Enviar mensaje</button>
  </app-modal> -->