<section class="equipo">
    <h2>Conoce al Equipo</h2>
    <div class="miembro">
      <img src="assets/valerio.jpg" alt="Valerio Andras">
      <div class="info">
        <span class="tag">Misiones</span>
        <span class="tag">Evangelismo</span>
        <h3>Valerio Andras</h3>
        <p>Misionero a tiempo completo, participa en programas de radio, evangelismo en universidades, tours misioneros por Europa así como viajes por todo el mundo equipando a las iglesias en evangelismo.</p>
      </div>
    </div>
  
    <div class="miembro">
      <img src="assets/guillermo.jpg" alt="Guillermo Baldán">
      <div class="info">
        <span class="tag">Ingeniería</span>
        <span class="tag">Evangelismo</span>
        <h3>Guillermo Baldán</h3>
        <p>Ingeniero de profesión, se encarga de dar apoyo a la obra misionera en todo tipo de tareas logísticas y técnicas además de participar activamente en campañas evangelísticas.</p>
      </div>
    </div>
  </section>