// // Variable color
$gamaColor1: #50ad11;
$gamaColor2: #1e2757;
$gamaColor3: #4CAF50;
$gamaColor4: #a7563e;
$gamaColor5: #f8f6ed; //Header color
$gamaColor6: #3f51b5; 
$gamaColor7: #3e7a16;; 
$gamaColor8: #fcf4f2;; 


$accent-color: #ff6600;

$primary-color: #1e2757;
$secondary-color: #f4f4f4;


//Badge color:
$warningBadgeColor: #f0ad4e;
$successBadgeColor: #5cb85c;
$infoBadgeColor: #5bc0de;


// :root {
//     // Variables de color
//     --gamaColor1: #50ad11;
//     --gamaColor2: #1e2757;
//     --gamaColor3: #4CAF50;
//     --gamaColor4: #a7563e;
//     --gamaColor5: #f8f6ed; //Header color
//     --gamaColor6: #3f51b5; 

//     --accent-color: #ff6600;

//     --primary-color: #1e2757;
//     --secondary-color: #f4f4f4; 
// }