
<!--======================================== -->
  <!--========= NORMAL SCREEN HEADER ========= -->
  <!--======================================== -->

  <header id="normalScreenSubscriptionsHeader" class="d-none d-md-block">
    <ul>
      <li id="headerName">      
        <a id="normalScreenSubscriptionsHeaderLogo" href="#">
          <img src="../assets/img/logoGAMA.png" alt="GAMA EVANGELISTIC ASSOCIATION" id="normalScreenLogoImg">
          <span id="normalScreenLogoText">GAMA EVANGELISTIC <br> ASSOCIATION</span>
        </a>
      </li>
      <li id="headerSpace">&nbsp;</li>
      <li id="headerSpace">&nbsp;</li>
      <li><span id="normalScreenHeaderSubscriptionsTitle">SUSCRIPCIÓN</span></li>
      <li id="headerSpace">&nbsp;</li>
      <li id="headerSpace">&nbsp;</li>
    </ul>
  </header>
  


  <!--======================================== -->
  <!--========== CELL PHONE HEADER  ========== -->
  <!--======================================== -->
  <header id="cellPhoneSubscriptionsHeader" class="d-block d-md-none">
    <div id="cellPhoneSubscriptionsHeaderRow" class="row">

      <div id="cellPhoneSubscriptionsHeaderLogoTit" class="col" >
        <a href="#" id="cellPhoneLogoHeader">
          <img id="cellPhoneLogoImg" src="../assets/img/logoGAMA.png" alt="GAMA EVANGELISTIC ASSOCIATION" >
          <span id="cellPhoneLogoText">GAMA <br> EVANGELISTIC <br> ASSOCIATION</span>
        </a>
      </div>


      <div id="cellPhoneSubscriptionsHeaderTitle" class="col text-end" >
        <span id="cellPhoneHeaderSubscriptionsTitle">SUBSCRIPCIÓN</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <!-- <button mat-button [matMenuTriggerFor]="menu" id="cellPhoneMenuButton"><mat-icon>menu</mat-icon></button> -->
        <!-- <mat-menu id="cellPhoneMenu" #menu="matMenu">
          <button mat-menu-item><a href="#identidad">QUIÉNES SOMOS</a></button>
          <button mat-menu-item><a href="#speakers">EL EQUIPO</a></button>
          <button mat-menu-item><span id="cellPhoneScreenMisionesSpan" (click)="irAUneteMisiones()" class="link-span text-primary text-decoration-underline">ÚNETE A LAS MISIONES</span></button>
          <button mat-menu-item>
            <a href="#" data-toggle="modal" data-target="#modaloración">PETICIÓN DE ORACIÓN</a>
          </button>
        </mat-menu> -->
      </div>

    </div>
  </header>



  <!--======================================== -->
  <!--============ MISSIONARY FORM =========== -->
  <!--======================================== -->

  <div class="form-container">
    <h1>FICHA A</h1>
    <h2>Únete a las misiones</h2>
    <p>Ponte en contacto con nosotros si te atrae la idea de participar en misiones.</p>
  
    <form [formGroup]="misioneroForm" (ngSubmit)="onSubmit()" action="https://formspree.io/f/xjvawjkq" method="POST">
      <!-- Nombre y Apellido -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="apellido" name="apellido" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Correo electrónico -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electrónico" formControlName="email" name="email" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Ciudad y País -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ciudad" formControlName="ciudad" name="ciudad" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-select placeholder="País" formControlName="pais" name="pais" required>
              <mat-option value="es">España</mat-option>
              <mat-option value="mx">México</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Número de teléfono y Cumpleaños -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Número de teléfono" formControlName="telefono" name="telefono" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput type="date" placeholder="Cumpleaños" formControlName="cumpleaños" name="cumpleaños" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Lenguaje de preferencia -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <mat-select placeholder="Lenguaje de preferencia" formControlName="lenguaje" name="lenguaje" required>
              <mat-option value="es">Español</mat-option>
              <mat-option value="en">Inglés</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Su testimonio de cómo conoció al señor Jesucristo -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Su testimonio de cómo conoció al señor Jesucristo" formControlName="testimonio" name="testimonio" rows="4" required></textarea>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Iglesia o ministerio al que forman parte -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Iglesia o ministerio al que forman parte" formControlName="iglesia" name="iglesia" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Su motivación para venir al tour -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Su motivación para venir al tour" formControlName="motivacion" name="motivacion" rows="4" required></textarea>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Nombre de su pastor -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre de su pastor" formControlName="pastor" name="pastor" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Checkbox de privacidad -->
      <div class="row">
        <div class="col-md-12">
          <mat-checkbox formControlName="privacidad" name="privacidad" required>
            He leído y aceptado condiciones de privacidad de datos.
          </mat-checkbox>
        </div>
      </div>
  
      <!-- Botón de enviar -->
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="misioneroForm.invalid">Enviar</button>
        </div>
      </div>
    </form>
  </div>



  <!--======================================== -->
  <!--================ FOOTER ================ -->
  <!--======================================== -->
  <footer class="text-end">
    <div class="container">
      <div class="row text-center pb-1">
        <div class="col-12 col-lg">
          <a data-toggle="modal" data-target="#modalcontacto" href="#">Contáctanos</a>
        </div> 
      </div>
      <br>
      <!-- <div class="col-6"></div> -->
      <!-- <div class="col-6"> -->
        Copyright &copy; 2025 - GAMA
      <!-- </div> -->
    </div>
  </footer>