
<!--======================================== -->
  <!--========= NORMAL SCREEN HEADER ========= -->
  <!--======================================== -->

  <header id="normalScreenSubscriptionsHeader" class="d-none d-md-block">
    <ul>
      <li id="headerIconText">      
        <a id="normalScreenSubscriptionsHeaderLogo" href="#">
          <img src="../assets/img/logoGAMA.png" alt="GAMA EVANGELISTIC ASSOCIATION" id="normalScreenLogoImg">
          <span id="normalScreenLogoText">GAMA EVANGELISTIC <br> ASSOCIATION</span>
        </a>
      </li>
      <li id="headerSpace">&nbsp;</li>
      <li id="headerSpace">&nbsp;</li>
      <li><span id="normalScreenHeaderSubscriptionsTitle">SUSCRIPCIÓN</span></li>
      <li id="headerSpace">&nbsp;</li>
      <li id="headerSpace">&nbsp;</li>
    </ul>
  </header>
  


  <!--======================================== -->
  <!--========== CELL PHONE HEADER  ========== -->
  <!--======================================== -->
  <header id="cellPhoneSubscriptionsHeader" class="d-block d-md-none">
    <div id="cellPhoneSubscriptionsHeaderRow" class="row">

      <div id="cellPhoneSubscriptionsHeaderLogoTit" class="col" >
        <a href="#" id="cellPhoneLogoHeader">
          <img id="cellPhoneLogoImg" src="../assets/img/logoGAMA.png" alt="GAMA EVANGELISTIC ASSOCIATION" >
          <span id="cellPhoneLogoText">GAMA <br> EVANGELISTIC <br> ASSOCIATION</span>
        </a>
      </div>


      <div id="cellPhoneSubscriptionsHeaderTitle" class="col text-end" >
        <span id="cellPhoneHeaderSubscriptionsTitle">SUSCRIPCIÓN</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <!-- <button mat-button [matMenuTriggerFor]="menu" id="cellPhoneMenuButton"><mat-icon>menu</mat-icon></button> -->
        <!-- <mat-menu id="cellPhoneMenu" #menu="matMenu">
          <button mat-menu-item><a href="#identidad">QUIÉNES SOMOS</a></button>
          <button mat-menu-item><a href="#speakers">EL EQUIPO</a></button>
          <button mat-menu-item><span id="cellPhoneScreenMisionesSpan" (click)="irAUneteMisiones()" class="link-span text-primary text-decoration-underline">ÚNETE A LAS MISIONES</span></button>
          <button mat-menu-item>
            <a href="#" data-toggle="modal" data-target="#modaloración">PETICIÓN DE ORACIÓN</a>
          </button>
        </mat-menu> -->
      </div>

    </div>
  </header>



  <!--======================================== -->
  <!--============ MISSIONARY FORM =========== -->
  <!--======================================== -->

  <div class="form-container">
    <!-- <h1><u>FICHA A:</u></h1> -->
    <h1>Únete a las misiones</h1>
    <p>Ponte en contacto con nosotros si te atrae la idea de participar en misiones.</p>
    <br>
  
    <form [formGroup]="misioneroForm" (ngSubmit)="onSubmit()" action="https://formspree.io/f/xjvawjkq" method="POST">
      <!-- Nombre y Apellido -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" name="nombre" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellido" name="apellido" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Correo electrónico -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" name="email" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Ciudad y País -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="ciudad" name="ciudad" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>País</mat-label>
                <mat-select formControlName="pais" name="pais" required>
                  <mat-option value="Afganistán">Afganistán</mat-option>
                  <mat-option value="Albania">Albania</mat-option>
                  <mat-option value="Argelia">Argelia</mat-option>
                  <mat-option value="Andorra">Andorra</mat-option>
                  <mat-option value="Angola">Angola</mat-option>
                  <mat-option value="Argentina">Argentina</mat-option>
                  <mat-option value="Armenia">Armenia</mat-option>
                  <mat-option value="Australia">Australia</mat-option>
                  <mat-option value="Austria">Austria</mat-option>
                  <mat-option value="Azerbaiyán">Azerbaiyán</mat-option>
                  <mat-option value="Baréin">Baréin</mat-option>
                  <mat-option value="Bangladés">Bangladés</mat-option>
                  <mat-option value="Barbados">Barbados</mat-option>
                  <mat-option value="Bielorrusia">Bielorrusia</mat-option>
                  <mat-option value="Bélgica">Bélgica</mat-option>
                  <mat-option value="Belice">Belice</mat-option>
                  <mat-option value="Bolivia">Bolivia</mat-option>
                  <mat-option value="Bosnia y Herzegovina">Bosnia y Herzegovina</mat-option>
                  <mat-option value="Brasil">Brasil</mat-option>
                  <mat-option value="Bulgaria">Bulgaria</mat-option>
                  <mat-option value="Canadá">Canadá</mat-option>
                  <mat-option value="Chile">Chile</mat-option>
                  <mat-option value="China">China</mat-option>
                  <mat-option value="Colombia">Colombia</mat-option>
                  <mat-option value="Costa Rica">Costa Rica</mat-option>
                  <mat-option value="Croacia">Croacia</mat-option>
                  <mat-option value="Cuba">Cuba</mat-option>
                  <mat-option value="Chipre">Chipre</mat-option>
                  <mat-option value="Chequia (República Checa)">Chequia (República Checa)</mat-option>
                  <mat-option value="Dinamarca">Dinamarca</mat-option>
                  <mat-option value="República Dominicana">República Dominicana</mat-option>
                  <mat-option value="Ecuador">Ecuador</mat-option>
                  <mat-option value="Egipto">Egipto</mat-option>
                  <mat-option value="El Salvador">El Salvador</mat-option>
                  <mat-option value="Estonia">Estonia</mat-option>
                  <mat-option value="Finlandia">Finlandia</mat-option>
                  <mat-option value="Francia">Francia</mat-option>
                  <mat-option value="Alemania">Alemania</mat-option>
                  <mat-option value="Grecia">Grecia</mat-option>
                  <mat-option value="Guatemala">Guatemala</mat-option>
                  <mat-option value="Honduras">Honduras</mat-option>
                  <mat-option value="Hungría">Hungría</mat-option>
                  <mat-option value="India">India</mat-option>
                  <mat-option value="Indonesia">Indonesia</mat-option>
                  <mat-option value="Irán">Irán</mat-option>
                  <mat-option value="Irak">Irak</mat-option>
                  <mat-option value="Irlanda">Irlanda</mat-option>
                  <mat-option value="Israel">Israel</mat-option>
                  <mat-option value="Italia">Italia</mat-option>
                  <mat-option value="Japón">Japón</mat-option>
                  <mat-option value="Jordania">Jordania</mat-option>
                  <mat-option value="Kazajistán">Kazajistán</mat-option>
                  <mat-option value="Kenia">Kenia</mat-option>
                  <mat-option value="Corea del Sur">Corea del Sur</mat-option>
                  <mat-option value="Kuwait">Kuwait</mat-option>
                  <mat-option value="Letonia">Letonia</mat-option>
                  <mat-option value="Líbano">Líbano</mat-option>
                  <mat-option value="Libia">Libia</mat-option>
                  <mat-option value="Lituania">Lituania</mat-option>
                  <mat-option value="Luxemburgo">Luxemburgo</mat-option>
                  <mat-option value="Malasia">Malasia</mat-option>
                  <mat-option value="México">México</mat-option>
                  <mat-option value="Marruecos">Marruecos</mat-option>
                  <mat-option value="Países Bajos">Países Bajos</mat-option>
                  <mat-option value="Nueva Zelanda">Nueva Zelanda</mat-option>
                  <mat-option value="Nicaragua">Nicaragua</mat-option>
                  <mat-option value="Nigeria">Nigeria</mat-option>
                  <mat-option value="Noruega">Noruega</mat-option>
                  <mat-option value="Pakistán">Pakistán</mat-option>
                  <mat-option value="Panamá">Panamá</mat-option>
                  <mat-option value="Paraguay">Paraguay</mat-option>
                  <mat-option value="Perú">Perú</mat-option>
                  <mat-option value="Filipinas">Filipinas</mat-option>
                  <mat-option value="Polonia">Polonia</mat-option>
                  <mat-option value="Portugal">Portugal</mat-option>
                  <mat-option value="Catar">Catar</mat-option>
                  <mat-option value="Rumania">Rumania</mat-option>
                  <mat-option value="Rusia">Rusia</mat-option>
                  <mat-option value="Arabia Saudita">Arabia Saudita</mat-option>
                  <mat-option value="Senegal">Senegal</mat-option>
                  <mat-option value="Serbia">Serbia</mat-option>
                  <mat-option value="Singapur">Singapur</mat-option>
                  <mat-option value="Eslovaquia">Eslovaquia</mat-option>
                  <mat-option value="Eslovenia">Eslovenia</mat-option>
                  <mat-option value="Sudáfrica">Sudáfrica</mat-option>
                  <mat-option value="España">España</mat-option>
                  <mat-option value="Suecia">Suecia</mat-option>
                  <mat-option value="Suiza">Suiza</mat-option>
                  <mat-option value="Siria">Siria</mat-option>
                  <mat-option value="Tailandia">Tailandia</mat-option>
                  <mat-option value="Túnez">Túnez</mat-option>
                  <mat-option value="Turquía">Turquía</mat-option>
                  <mat-option value="Ucrania">Ucrania</mat-option>
                  <mat-option value="Emiratos Árabes Unidos">Emiratos Árabes Unidos</mat-option>
                  <mat-option value="Reino Unido">Reino Unido</mat-option>
                  <mat-option value="Estados Unidos">Estados Unidos</mat-option>
                  <mat-option value="Uruguay">Uruguay</mat-option>
                  <mat-option value="Venezuela">Venezuela</mat-option>
                  <mat-option value="Vietnam">Vietnam</mat-option>
                  <mat-option value="Yemen">Yemen</mat-option>
                  <mat-option value="Zimbabue">Zimbabue</mat-option>
                </mat-select>
              </mat-form-field>
              
        </div>
      </div>
  
      <!-- Número de teléfono y Cumpleaños -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Número de teléfono</mat-label>
            <input matInput formControlName="telefono" name="telefono" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cumpleaños</mat-label>
            <input matInput type="date" formControlName="cumpleaños" name="cumpleaños" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Lenguaje de preferencia -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Lenguaje de preferencia</mat-label>
            <mat-select formControlName="lenguaje" name="lenguaje" required>
              <mat-option value="es">Español</mat-option>
              <mat-option value="en">Inglés</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Su testimonio de cómo conoció al señor Jesucristo -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Su testimonio de cómo conoció al Señor Jesucristo</mat-label>
            <textarea matInput formControlName="testimonio" name="testimonio" rows="4" required></textarea>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Iglesia o ministerio al que forman parte -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Iglesia o ministerio al que forman parte</mat-label>
            <input matInput formControlName="iglesia" name="iglesia" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Su motivación para venir al tour -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Su motivación para venir al tour</mat-label>
            <textarea matInput formControlName="motivacion" name="motivacion" rows="4" required></textarea>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Nombre de su pastor -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre de su pastor</mat-label>
            <input matInput formControlName="pastor" name="pastor" required>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Checkbox de privacidad -->
      <div class="row">
        <div class="col-md-12">
          <mat-checkbox formControlName="privacidad" name="privacidad" required>
            He leído y aceptado condiciones de
            <a href="#" (click)="openPrivacidadModal($event)">privacidad de datos</a>.
          </mat-checkbox>
        </div>
      </div>
  
      <!-- Botón de enviar -->
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="misioneroForm.invalid">Enviar</button>
        </div>
      </div>
    </form>
  </div>

  <br>
  <br>


  <!--======================================== -->
  <!--================ FOOTER ================ -->
  <!--======================================== -->
  <footer class="text-end">
    <div class="container">
      <div class="row text-center pb-1">
        <div class="col-12 col-lg">
          <a data-toggle="modal" data-target="#modalcontacto" href="#">Contáctanos</a>
        </div> 
      </div>
      <br>
      <!-- <div class="col-6"></div> -->
      <!-- <div class="col-6"> -->
        Copyright &copy; 2025 - GAMA
      <!-- </div> -->
    </div>
  </footer>