@import '../../../../styles/_variables.scss';


.socialsContainer {

    // background: #f5f5f5;
    background: $gamaColor8;

        
    //=========== NORMAL SCREEN SIZE ===========//
    @media only screen and (min-width: 1047px) {
        padding: 90px 130px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 1046px) {
        padding: 80px 70px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 612px) {
        padding: 80px 15px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 430px) {
        padding: 80px 15px 80px 15px;
    }

    .socialWrapper {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: center;
        // margin: 0 auto;
        gap: 4rem;
        width: 100%;
  
        .socialsColumn {
            flex: 1 1 400px;
            background: white;
            border-radius: 12px;
            padding: 2rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            // border: 2px solid blue;
            // border: 2px solid $gamaColor6;
            // border: 2px solid $gamaColor4;
            
            
            //=========== NORMAL SCREEN SIZE ===========//
            @media only screen and (min-width: 1139px) {
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 1138px) {
                max-width: 45%;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 794px) {
                max-width: 65%;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 430px) {
                max-width: 80%;
            }
            
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 375px) {
                max-width: 85%;
            }
            
        
            h2 {
                font-size: 1.8rem;
                color: $gamaColor2;
                margin-bottom: 1.6rem;
                text-align: left;
            }
        
            ul {
                list-style: none;
                padding: 0;
        
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
            
                    img {
                        width: 28px;
                        height: 28px;
                        margin-right: 12px;
                    }
            
                    a {
                            font-size: 1.1rem;
                            color: #007bff;
                            text-decoration: none;
                            transition: color 0.3s;
                
                            &:hover {
                                color: #0056b3;
                                text-decoration: underline;
                            }
                    }
                } //end li

            } //end ul

        } //end socialsColumn

    } //end socialWrapper

} //end socialsContainer
  