  
  <!--======================================== -->
  <!--================ HEADER ================ -->
  <!--======================================== -->
  <app-header></app-header>

 

  <!--======================================== -->
  <!--=============== IDENTITY =============== -->
  <!--======================================== -->
  
  <app-identity></app-identity>



  <!--======================================== -->
  <!--=============== SPEAKERS =============== -->
  <!--======================================== -->

  <app-team></app-team>


  <!--======================================== -->
  <!--========= TEN YEARS EXPERIENCE ========= -->
  <!--======================================== -->

  <app-tenyears-experience></app-tenyears-experience>

  
  <!--======================================== -->
  <!--============ MISSION VIDEOS ============ -->
  <!--======================================== -->

  <app-prevyear-video></app-prevyear-video>
  
  <!--======================================== -->
  <!--============ MISSION VIDEOS ============ -->
  <!--======================================== -->

  <app-requirements></app-requirements>


  <!--======================================== -->
  <!--========= ES CURRENT YEAR TOUR ========= -->
  <!--======================================== -->

  <!-- <app-currentyear-tour [hidden]="translate.currentLang===ENGLISH"></app-currentyear-tour> -->

  <!--======================================== -->
  <!--========== CURRENT YEAR TOUR =========== -->
  <!--======================================== -->
  <!-- <app-currentyear-tour></app-currentyear-tour> -->
  
  
  <!--======================================== -->
  <!--========= EN CURRENT YEAR TOUR ========= -->
  <!--======================================== -->

  <!-- <app-en-currentyeartour [hidden]="translate.currentLang===ESPANOL"></app-en-currentyeartour> -->
  

  <!--======================================== -->
  <!--=============== COLUMNS ================ -->
  <!--======================================== -->

  <app-columns></app-columns>
  

  <!--======================================== -->
  <!--========= MISSION INFORMATION ========== -->
  <!--======================================== -->

  <app-mission-info></app-mission-info>

  <!--======================================== -->
  <!--=== INFORMACION UNETE A LAS MISIONES === -->
  <!--======================================== -->
  <!-- <app-joinus-info></app-joinus-info> -->


  <!--======================================== -->
  <!--========= UNETE A LAS MISIONES ========= -->
  <!--======================================== -->
  
  <app-joinus-missions></app-joinus-missions>


  <!--======================================== -->
  <!--============= SOCIAL MEDIA ============= -->
  <!--======================================== -->
  <app-links></app-links>


  <!--======================================== -->
  <!--================ FOOTER ================ -->
  <!--======================================== -->
  <footer class="text-end">
    <div class="container">

      <div class="row text-center pt-4">
          <div class="col-12 col-lg">
             <h2>{{ 'HOME.FOOTER.LINKS' | translate }}</h2>
          </div> 
      </div>

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openContactUsModal($event)" >
                  {{ 'HOME.FOOTER.CONTACT' | translate }}
              </a>
              &nbsp;
              <a href="#" (click)="openPrayerRequestModal($event)" >
                  {{ 'HOME.FOOTER.PRAYER_REQUEST' | translate }}
              </a>
          </div> 
      </div>

      <!-- <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openPrayerRequestModal($event)" >
                  Petición de Oración
              </a>
          </div> 
      </div> -->

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openPrivacidadModal($event)" >
                  {{ 'HOME.FOOTER.PRIVACY_POLICY' | translate }}
              </a>
          </div> 
      </div>

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openLegalNoticeModal($event)" >
                  {{ 'HOME.FOOTER.LEGAL_NOTICE' | translate }}
              </a>
          </div> 
      </div>

      <br>
      <br>
      <div class="row text-center pb-1">
          <div class="col-12 col-lg">
              Copyright &copy; 2025 - GAMA - Global Awakening Movement Association
          </div> 
      </div>

    </div>
  </footer>




  <!--======================================== -->
  <!--=============== SEMINARIO =============== -->
  <!--======================================== -->
  <!--  <seminario id="seminario">
    <div id="seminario-announcement" class="carousel slide carousel-fade" data-ride="carousel"  data-pause="false">
      <div  class="row">
        <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
          <img  id="seminario-announcement-banner" src="./images/misiones-europa-seminario.png"  alt="">
        </div> 
        </div>
    </seminario> -->
  <!-- /Seminario -->
  <!-- tour --> 
  <!-- <tour id="tour">
    <div id="tour-announcement" >
      <div  class="row">
        <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
          <img  id="seminario-announcement-banner" src="./images/tour_misionero_2022.jpg"  alt="">
        </div> 
      </div>
    </tour> -->
  <!-- /tour-->

  
  <!--======================================== -->
  <!--============ lUGAR Y FECHA ============= -->
  <!--======================================== -->
  <!--
  <section id="place-time">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 pl-0 pr-0">
          <img src="honolulu.jpg" alt="Honolulu">
        </div>
         <div class="col-12 col-lg-6 pt-4 pb-4">
          <h2>Honolulu - Octubre 2025</h2>
          <p>Honolulu es la capital y localidad más grande del estado de Hawái, en los Estados Unidos.Honolulu es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una ciudad-condado consolidada que cubre toda la isla (aproximadamente 600 km² de superficie).
          </p>
          <a class="btn btn-outline-light" href="https://es.wikipedia.org/wiki/Honolulu">Conoce más</a>
        </div>
      </div>
    </div>
  </section>
-->


  <!-- <footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a data-toggle="modal" data-target="#modalcontacto" href="#">Contacto</a>
        </div> -->
        <!--
        <div class="col-12 col-lg">
          <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Prensa</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Privacidad</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Estudiantes</a>
        </div>
    -->
      <!-- </div>
    </div>
  </footer> -->
  <!-- /footer -->


    
  <!-- Modal -->
  <!--<div class="modal fade" id="modaloración" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
    <!-- <div class="modal fade" id="modalseminario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inscripción al seminario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form
              action="https://formspree.io/f/xjvawjkq"
              method="POST" >
                         
              <div class="form-group text-center">
                <label for="message-text" class="col-form-label">
                  <div class="text-left" style="margin-bottom: 0.5em;">
                    Dinos por qué quieres apuntarte al seminario
                  </div>
                  <textarea class="form-control" name="message"  rows="4" cols="58"></textarea>
                </label>
              </div>

              <div class="form-group text-center">
                <label for="message-text" class="col-form-label">
                  <div class="text-left" style="margin-bottom: 0.5em;">
                  Escríbenos tu email y te contactaremos
                  </div>
                  <input class="form-control" type="text" name="_replyto" size="56">
                </label>
              </div>
             -->
              <!-- your other form fields go here -->
              <!-- <div class="modal-footer">
                <button type="submit" class="btn btn-platzi">Send</button>
                <button type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div> -->
