

	footer {
		background-color: #e3ebf4;
		// border-top: 1px solid #f3ef11;
		width: 100%;
		margin: 0px auto;
		padding-top: 15px;
		padding-bottom: 15px;
		color: rgba(0, 0, 0, 0.5);

		#linkHr {
			display: block;
			// width: 15px;
			// max-width: 15px;
			width: 5%;
			max-width: 5%;
			justify-content: center;
		}
	}
