  <!--======================================== -->
  <!--========= NORMAL SCREEN HEADER ========= -->
  <!--======================================== -->

  <header class="normalScreenHeaderClass headerBackgroundColor headerText">
    <ul>
        <li id="headerIconText">      
            <a id="normalScreenHeaderLogo" href="#">
                <img id="normalScreenLogo" src="../assets/img/icon-6.png" alt="MOVIMIENTO MISIONERO GLOBAL" >
                <span id="normalScreenText">MOVIMIENTO MISIONERO <br> GLOBAL</span>
            </a>
        </li>
        <li id="headerSpace">&nbsp;</li>
        <!-- <li><a href="#identity">QUIÉNES SOMOS</a></li> -->
        <li><a href="#speakers">EL EQUIPO</a></li>
        <li><a href="#currentYearTour">TOUR MISIONERO 2025</a></li>
        <li><a href="#uneteMisiones">ÚNETE A LA MISIÓN 2025</a></li>
        <!-- <li id="headerSpace2">&nbsp;</li> -->
        <li class="flagLi" *ngIf="currentLang===ESPANOL">
            <a id="spainFlag" class="flag" (click)="selectLanguage(ENGLISH)">
                <img  class="countryFlag" src="../assets/img/unitedkingdom-little.png">&nbsp;&nbsp;ENGLISH
            </a>
        </li>
        <li class="flagLi" *ngIf="currentLang===ENGLISH">
            <a id="UKFlag" class="flag" (click)="selectLanguage(ESPANOL)">
              <img class="countryFlag" src="../assets/img/spain-little.png">&nbsp;&nbsp;ESPAÑOL
            </a>
        </li>
        <!-- <li *ngIf="germanySelected"><a id="germanyFlag" class="flag" (click)="selectLanguage('de')"><img class="countryFlag" src="../assets/img/germany-little.png">&nbsp;DEUTSCH</a></li> -->
        <!-- <li>
          <a href="#" (click)="openPrayerRequestModal($event)" data-target="modaloración">
              PETICIÓN DE ORACIÓN
          </a>
        </li> -->
        <li id="normalScreenHeaderMenuButtonLi">
            <button mat-button id="normalScreenHeaderMenuButton" class="headerBackgroundColor" (click)="toggleMenu()">
                <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
            </button>
            <!-- Menú desplegable -->
            <div id="normalScreenDropDownMenu" class="headerBackgroundColor" [class.open]="isMenuOpen">
                <!-- Contenido del menú -->
                <button mat-button id="normalScreenHeaderCloseButton" class="headerBackgroundColor" (click)="toggleMenu()">
                    <mat-icon *ngIf="isMenuOpen">close</mat-icon>
                </button>

                <div id="menuCol" class="col">
                  <h2 class="title">Home</h2>
                  <hr>
                    <div>
                        <a (click)="openContactUsModal($event)">
                            Contacto
                        </a>
                    </div>
                    <div>
                        <a (click)="openPrayerRequestModal($event)">
                            Petición de oración
                        </a>
                    </div>
                    <div>
                      <a class="submenu-toggle" (click)="toggleSubmenu($event)">Idioma<mat-icon id="expandMore">expand_more</mat-icon></a>
                      <div class="submenu-list" *ngIf="isSubmenuOpen">
                          <div><a (click)="selectLanguage(ESPANOL)">Español - ES</a></div>
                          <div><a (click)="selectLanguage(ENGLISH)">English - EN</a></div>
                          <!-- <div>Deutsch - DE</div> -->
                      </div>
                    </div>
                </div>
                
            </div>
            <!-- <mat-menu id="cellPhoneMenu" #menu="matMenu">
                <button mat-menu-item><a class="headerText" href="#identity">QUIÉNES SOMOS</a></button>
                <button mat-menu-item><a class="headerText" href="#speakers">EL EQUIPO</a></button>
                <button mat-menu-item><a class="headerText" href="#uneteMisiones">ÚNETE A LAS MISIONES</a></button> -->
                <!-- <button mat-menu-item>
                    <a class="headerText" href="#" (click)="openPrayerRequestModal($event)" data-target="modaloración">
                        PETICIÓN DE ORACIÓN
                    </a>
                </button> -->
            <!-- </mat-menu> -->
        </li>
    </ul>
  </header>
  


  <!--======================================== -->
  <!--========== CELL PHONE HEADER  ========== -->
  <!--======================================== -->

  <header class="cellPhoneHeaderClass headerBackgroundColor headerText">
    <div id="cellPhoneHeaderRow" class="row">

      <div id="cellPhoneHeaderLeftSide" class="col">
          <a id="cellPhoneHeaderLeftSideContainer" href="#" >
              <img id="cellPhoneLogo" src="../assets/img/icon-6.png" alt="MOVIMIENTO MISIONERO GLOBAL" >
              <span id="cellPhoneText">MOVIMIENTO  <br> MISIONERO <br> GLOBAL</span>
          </a>
      </div>


      <div id="cellPhoneHeaderRightSide" class="col">
          
          <div id="cellPhoneHeaderRightSideRow">

                <div *ngIf="currentLang===ESPANOL" class="cellPhoneFlagDiv">
                    <a id="cellPhoneSpainFlag" class="cellPhoneFlag" (click)="selectLanguage(ENGLISH)">
                        <img  class="cellPhoneCountryFlag" src="../assets/img/unitedkingdom-little.png">
                    </a>
                </div>
                <div *ngIf="currentLang===ENGLISH" class="cellPhoneFlagDiv">
                    <a id="cellPhoneUKFlag" class="cellPhoneFlag" (click)="selectLanguage(ESPANOL)">
                        <img  class="cellPhoneCountryFlag" src="../assets/img/spain-little.png">
                    </a>
                </div>

                <button mat-button id="cellPhoneHeaderMenuButton" class="headerBackgroundColor" (click)="toggleMenu()">
                    <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
                </button>
                
                <div id="cellPhoneDropDownMenu" class="headerBackgroundColor" [class.open]="isMenuOpen">
                    <!-- Contenido del menú -->
                    <button mat-button id="cellPhoneHeaderCloseButton" class="headerBackgroundColor" (click)="toggleMenu()">
                        <mat-icon *ngIf="isMenuOpen">close</mat-icon>
                    </button>
                    
                    <div id="menuCol" class="col">
                      <h2 class="title">Home</h2>
                      <hr>
                      <ul class="list">
                        <li><a (click)="clickMenuAddress('identity')">Quiénes somos</a></li>
                        <li><a (click)="clickMenuAddress('speakers')">El equipo</a></li>
                        <li><a (click)="clickMenuAddress('uneteMisiones')">Únete a la misión 2025</a></li>
                        <li>
                            <a (click)="openContactUsModal($event)">
                                Contacto
                            </a>
                        </li>
                        <li>
                            <a (click)="openPrayerRequestModal($event)">
                                Petición de oración
                            </a>
                        </li>
                        <li>
                          <!-- <a>Idioma</a> -->
                          <a (click)="toggleSubmenu($event)">Idioma<mat-icon id="expandMore">expand_more</mat-icon></a>
                          <div class="submenu-list" *ngIf="isSubmenuOpen">
                              <div><a (click)="selectLanguage(ESPANOL)">Español - ES</a></div>
                              <div><a (click)="selectLanguage(ENGLISH)">English - EN</a></div>
                              <!-- <div>Español - ES</div>
                              <div>English - EN</div> -->
                              <!-- <div>Deutsch - DE</div> -->
                          </div>
                        </li>
                      </ul>
                    </div>
                
                </div>

          </div>
          
      </div>


      <!-- <div class="header-container"> -->
        <!-- Otros elementos del header -->
    
        <!-- Botón para abrir/cerrar el menú en móviles -->
        <!-- <button class="menu-toggle" (click)="toggleMenu()">
          <span *ngIf="!isMenuOpen">☰</span>
          <span *ngIf="isMenuOpen">✕</span>
        </button> -->
    
        <!-- Menú desplegable -->
        <!-- <div class="cellPhoneHeaderRightSide" [class.open]="isMenuOpen"> -->
          <!-- Contenido del menú -->
          <!-- <nav>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </div> -->

    </div>
  </header>

  <!--======================================== -->
  <!--=============== IDENTITY =============== -->
  <!--======================================== -->
  
  <app-identity></app-identity>


  <!--======================================== -->
  <!--=============== SEMINARIO =============== -->
  <!--======================================== -->
<!--  <seminario id="seminario">
    <div id="seminario-announcement" class="carousel slide carousel-fade" data-ride="carousel"  data-pause="false">
      <div  class="row">
        <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
          <img  id="seminario-announcement-banner" src="./images/misiones-europa-seminario.png"  alt="">
        </div> 
        </div>
    </seminario> -->
  <!-- /Seminario -->
  <!-- tour --> 
<!-- <tour id="tour">
    <div id="tour-announcement" >
      <div  class="row">
        <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
          <img  id="seminario-announcement-banner" src="./images/tour_misionero_2022.jpg"  alt="">
        </div> 
      </div>
    </tour> -->
  <!-- /tour-->



  <!--======================================== -->
  <!--=============== SPEAKERS =============== -->
  <!--======================================== -->

  <app-team></app-team>



  <!--======================================== -->
  <!--========== CURRENT YEAR TOUR =========== -->
  <!--======================================== -->

  <app-currentyear-tour></app-currentyear-tour>
  

  <!--======================================== -->
  <!--========= TEN YEARS EXPERIENCE ========= -->
  <!--======================================== -->

  <app-tenyears-experience></app-tenyears-experience>
  
  <!--======================================== -->
  <!--============ lUGAR Y FECHA ============= -->
  <!--======================================== -->
  <!--
  <section id="place-time">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 pl-0 pr-0">
          <img src="honolulu.jpg" alt="Honolulu">
        </div>
         <div class="col-12 col-lg-6 pt-4 pb-4">
          <h2>Honolulu - Octubre 2025</h2>
          <p>Honolulu es la capital y localidad más grande del estado de Hawái, en los Estados Unidos.Honolulu es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una ciudad-condado consolidada que cubre toda la isla (aproximadamente 600 km² de superficie).
          </p>
          <a class="btn btn-outline-light" href="https://es.wikipedia.org/wiki/Honolulu">Conoce más</a>
        </div>
      </div>
    </div>
  </section>
-->

  <!--======================================== -->
  <!--=== INFORMACION UNETE A LAS MISIONES === -->
  <!--======================================== -->
  <!-- <app-joinus-info></app-joinus-info> -->

  <!--======================================== -->
  <!--========= UNETE A LAS MISIONES ========= -->
  <!--======================================== -->
  
  <app-joinus-missions></app-joinus-missions>


  <!--======================================== -->
  <!--================ FOOTER ================ -->
  <!--======================================== -->
  <footer class="text-end">
    <div class="container">

      <div class="row text-center pt-4">
          <div class="col-12 col-lg">
             <h2>Enlaces</h2>
          </div> 
      </div>

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openContactUsModal($event)" >
                  Contacto
              </a>
              &nbsp;
              <a href="#" (click)="openPrayerRequestModal($event)" >
                Petición de Oración
              </a>
          </div> 
      </div>

      <!-- <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openPrayerRequestModal($event)" >
                  Petición de Oración
              </a>
          </div> 
      </div> -->

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openPrivacidadModal($event)" >
                  Política de Privacidad
              </a>
          </div> 
      </div>

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openLegalNoticeModal($event)" >
                  Aviso Legal
              </a>
          </div> 
      </div>

      <br>
      <div class="row text-center pb-1">
          <div class="col-12 col-lg">
              Copyright &copy; 2025 - GAMA - Global Awakening Movement Association
          </div> 
      </div>

    </div>
  </footer>


  <!-- <footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a data-toggle="modal" data-target="#modalcontacto" href="#">Contacto</a>
        </div> -->
        <!--
        <div class="col-12 col-lg">
          <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Prensa</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Privacidad</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Estudiantes</a>
        </div>
    -->
      <!-- </div>
    </div>
  </footer> -->
  <!-- /footer -->


    
  <!-- Modal -->
  <!--<div class="modal fade" id="modaloración" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
    <!-- <div class="modal fade" id="modalseminario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inscripción al seminario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form
              action="https://formspree.io/f/xjvawjkq"
              method="POST" >
                         
              <div class="form-group text-center">
                <label for="message-text" class="col-form-label">
                  <div class="text-left" style="margin-bottom: 0.5em;">
                    Dinos por qué quieres apuntarte al seminario
                  </div>
                  <textarea class="form-control" name="message"  rows="4" cols="58"></textarea>
                </label>
              </div>

              <div class="form-group text-center">
                <label for="message-text" class="col-form-label">
                  <div class="text-left" style="margin-bottom: 0.5em;">
                  Escríbenos tu email y te contactaremos
                  </div>
                  <input class="form-control" type="text" name="_replyto" size="56">
                </label>
              </div>
             -->
              <!-- your other form fields go here -->
              <!-- <div class="modal-footer">
                <button type="submit" class="btn btn-platzi">Send</button>
                <button type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div> -->
