  <!--======================================== -->
  <!--========= NORMAL SCREEN HEADER ========= -->
  <!--======================================== -->

  <header class="headerBackgroundColor headerText">
    <ul>
        <li id="headerIconTextLi">      
            <a id="normalScreenHeaderLogo" href="#">
                <img id="normalScreenLogo" src="../assets/img/icon-6.png" alt="{{ 'HOME.HEADER.TITLE' | translate }}" >
                <span id="normalScreenText">{{ 'HOME.HEADER.TITLE' | translate }}</span>
            </a>
        </li>

        <li id="headerSpaceLi">&nbsp;</li>
        <!-- <li><a href="#identity">QUIÉNES SOMOS</a></li> -->
        <li id="firstLi"><a href="#speakers">{{ 'HOME.THE_TEAM' | translate }}</a></li>
        <li id="secondLi"><a href="#currentYearTour">{{ 'HOME.CURRENT_YEAR_TOUR' | translate }}</a></li>
        <li id="thirdLi"><a href="#uneteMisiones">{{ 'HOME.JOIN_US_MISSION' | translate }}</a></li>

        <!-- <li id="headerSpace2">&nbsp;</li> -->

        <li class="flagLi" *ngIf="currentLang===ESPANOL">
            <a class="flag" (click)="selectLanguage(ENGLISH)">
                <img  class="countryFlag" src="../assets/img/unitedkingdom-little.png">&nbsp;&nbsp;<span id="englishLabel">ENGLISH</span>
            </a>
        </li>
        <li class="flagLi" *ngIf="currentLang===ENGLISH">
            <a class="flag" (click)="selectLanguage(ESPANOL)">
              <img class="countryFlag" src="../assets/img/spain-little.png">&nbsp;&nbsp;<span id="spanishLabel">ESPAÑOL</span>
            </a>
        </li>
        <!-- <li *ngIf="germanySelected"><a id="germanyFlag" class="flag" (click)="selectLanguage('de')"><img class="countryFlag" src="../assets/img/germany-little.png">&nbsp;DEUTSCH</a></li> -->


        <li id="normalScreenHeaderMenuButtonLi">
            <button mat-button id="normalScreenHeaderMenuButton" class="headerBackgroundColor" (click)="toggleMenu()">
                <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
            </button>
            <!-- Menú desplegable -->
            <div id="normalScreenDropDownMenu" class="headerBackgroundColor" [class.open]="isMenuOpen">
                <!-- Contenido del menú -->
                <div id="closeButtonRow" class="row"> 
                    <!-- <div id="closeButtonSpace" class="col"></div> -->
                    <button mat-button id="normalScreenHeaderCloseButton" class="headerBackgroundColor" (click)="toggleMenu()">
                        <mat-icon *ngIf="isMenuOpen">close</mat-icon>
                    </button>
                </div>

                <div id="menuCol" class="col">
                  <h2 class="title">Home</h2>
                  <hr>
                    <div class="hiddenMenuElement">
                        <a (click)="clickMenuAddress('speakers')">{{ 'HOME.THE_TEAM_LOW' | translate }}</a>
                    </div>
                    <div class="hiddenMenuElement">
                        <a (click)="clickMenuAddress('currentYearTour')">{{ 'HOME.CURRENT_YEAR_TOUR_LOW' | translate }}</a>
                    </div>
                    <div class="hiddenMenuElement">
                        <a (click)="clickMenuAddress('uneteMisiones')">{{ 'HOME.JOIN_US_MISSION_LOW' | translate }}</a>
                    </div>
                    <div>
                        <a (click)="openContactUsModal($event)">
                            {{ 'HOME.CONTACT' | translate }}
                        </a>
                    </div>
                    <div>
                        <a (click)="openPrayerRequestModal($event)">
                            {{ 'HOME.PRAYER_REQUEST' | translate }}
                        </a>
                    </div>
                    <div>
                      <a class="submenu-toggle" (click)="toggleSubmenu($event)">{{ 'HOME.LANGUAGE' | translate }}<mat-icon id="expandMore">expand_more</mat-icon></a>
                      <div class="submenu-list" *ngIf="isSubmenuOpen">
                          <div><a (click)="selectLanguage(ESPANOL)">Español - ES</a></div>
                          <div><a (click)="selectLanguage(ENGLISH)">English - EN</a></div>
                          <!-- <div>Deutsch - DE</div> -->
                      </div>
                    </div>
                </div>
                
            </div>
            <!-- <mat-menu id="cellPhoneMenu" #menu="matMenu">
                <button mat-menu-item><a class="headerText" href="#identity">QUIÉNES SOMOS</a></button>
                <button mat-menu-item><a class="headerText" href="#speakers">EL EQUIPO</a></button>
                <button mat-menu-item><a class="headerText" href="#uneteMisiones">ÚNETE A LAS MISIONES</a></button> -->
                <!-- <button mat-menu-item>
                    <a class="headerText" href="#" (click)="openPrayerRequestModal($event)" data-target="modaloración">
                        PETICIÓN DE ORACIÓN
                    </a>
                </button> -->
            <!-- </mat-menu> -->
        </li>
    </ul>
  </header>
  

 

  <!--======================================== -->
  <!--=============== IDENTITY =============== -->
  <!--======================================== -->
  
  <app-identity></app-identity>



  <!--======================================== -->
  <!--=============== SPEAKERS =============== -->
  <!--======================================== -->

  <app-team></app-team>



  <!--======================================== -->
  <!--========= ES CURRENT YEAR TOUR ========= -->
  <!--======================================== -->

  <app-currentyear-tour [hidden]="currentLang===ENGLISH"></app-currentyear-tour>
  
  
  <!--======================================== -->
  <!--========= EN CURRENT YEAR TOUR ========= -->
  <!--======================================== -->

  <!-- <app-en-currentyeartour [hidden]="currentLang===ESPANOL"></app-en-currentyeartour> -->
  

  <!--======================================== -->
  <!--========= TEN YEARS EXPERIENCE ========= -->
  <!--======================================== -->

  <app-tenyears-experience></app-tenyears-experience>



  <!--======================================== -->
  <!--=== INFORMACION UNETE A LAS MISIONES === -->
  <!--======================================== -->
  <!-- <app-joinus-info></app-joinus-info> -->


  <!--======================================== -->
  <!--========= UNETE A LAS MISIONES ========= -->
  <!--======================================== -->
  
  <app-joinus-missions></app-joinus-missions>


  <!--======================================== -->
  <!--================ FOOTER ================ -->
  <!--======================================== -->
  <footer class="text-end">
    <div class="container">

      <div class="row text-center pt-4">
          <div class="col-12 col-lg">
             <h2>{{ 'HOME.FOOTER.LINKS' | translate }}</h2>
          </div> 
      </div>

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openContactUsModal($event)" >
                  {{ 'HOME.FOOTER.CONTACT' | translate }}
              </a>
              &nbsp;
              <a href="#" (click)="openPrayerRequestModal($event)" >
                  {{ 'HOME.FOOTER.PRAYER_REQUEST' | translate }}
              </a>
          </div> 
      </div>

      <!-- <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openPrayerRequestModal($event)" >
                  Petición de Oración
              </a>
          </div> 
      </div> -->

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openPrivacidadModal($event)" >
                  {{ 'HOME.FOOTER.PRIVACY_POLICY' | translate }}
              </a>
          </div> 
      </div>

      <div class="row text-center pb-2">
          <div class="col-12 col-lg">
              <a href="#" (click)="openLegalNoticeModal($event)" >
                  {{ 'HOME.FOOTER.LEGAL_NOTICE' | translate }}
              </a>
          </div> 
      </div>

      <br>
      <div class="row text-center pb-1">
          <div class="col-12 col-lg">
              Copyright &copy; 2025 - GAMA - Global Awakening Movement Association
          </div> 
      </div>

    </div>
  </footer>




  <!--======================================== -->
  <!--=============== SEMINARIO =============== -->
  <!--======================================== -->
  <!--  <seminario id="seminario">
    <div id="seminario-announcement" class="carousel slide carousel-fade" data-ride="carousel"  data-pause="false">
      <div  class="row">
        <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
          <img  id="seminario-announcement-banner" src="./images/misiones-europa-seminario.png"  alt="">
        </div> 
        </div>
    </seminario> -->
  <!-- /Seminario -->
  <!-- tour --> 
  <!-- <tour id="tour">
    <div id="tour-announcement" >
      <div  class="row">
        <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
          <img  id="seminario-announcement-banner" src="./images/tour_misionero_2022.jpg"  alt="">
        </div> 
      </div>
    </tour> -->
  <!-- /tour-->

  
  <!--======================================== -->
  <!--============ lUGAR Y FECHA ============= -->
  <!--======================================== -->
  <!--
  <section id="place-time">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 pl-0 pr-0">
          <img src="honolulu.jpg" alt="Honolulu">
        </div>
         <div class="col-12 col-lg-6 pt-4 pb-4">
          <h2>Honolulu - Octubre 2025</h2>
          <p>Honolulu es la capital y localidad más grande del estado de Hawái, en los Estados Unidos.Honolulu es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una ciudad-condado consolidada que cubre toda la isla (aproximadamente 600 km² de superficie).
          </p>
          <a class="btn btn-outline-light" href="https://es.wikipedia.org/wiki/Honolulu">Conoce más</a>
        </div>
      </div>
    </div>
  </section>
-->


  <!-- <footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a data-toggle="modal" data-target="#modalcontacto" href="#">Contacto</a>
        </div> -->
        <!--
        <div class="col-12 col-lg">
          <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Prensa</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Privacidad</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Estudiantes</a>
        </div>
    -->
      <!-- </div>
    </div>
  </footer> -->
  <!-- /footer -->


    
  <!-- Modal -->
  <!--<div class="modal fade" id="modaloración" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
    <!-- <div class="modal fade" id="modalseminario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inscripción al seminario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form
              action="https://formspree.io/f/xjvawjkq"
              method="POST" >
                         
              <div class="form-group text-center">
                <label for="message-text" class="col-form-label">
                  <div class="text-left" style="margin-bottom: 0.5em;">
                    Dinos por qué quieres apuntarte al seminario
                  </div>
                  <textarea class="form-control" name="message"  rows="4" cols="58"></textarea>
                </label>
              </div>

              <div class="form-group text-center">
                <label for="message-text" class="col-form-label">
                  <div class="text-left" style="margin-bottom: 0.5em;">
                  Escríbenos tu email y te contactaremos
                  </div>
                  <input class="form-control" type="text" name="_replyto" size="56">
                </label>
              </div>
             -->
              <!-- your other form fields go here -->
              <!-- <div class="modal-footer">
                <button type="submit" class="btn btn-platzi">Send</button>
                <button type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div> -->
