
  <!--======================================== -->
  <!--=============== IDENTITY =============== -->
  <!--======================================== -->

  <section id="identity">
      <div class="container-fluid">

        <div class="row">

            <!-- <div id="identityContainer" class="row"> -->

                <div id="canvas"></div> <!-- Lienzo de fondo -->

                <div id="canvasContainer">


                    <div id="identityRow" class="row">

                        <div id="significadoGAMA" class="col-12 col-lg-6 pt-4 pb-4 align-self-center">

                            <div class="col">
                              <p id="identityTitleFirstLine" class="title">¿Qué significa GAMA?</p>
                              <p class="text"><span class="highlightText">Global Awakening Movement Association</span> somos un grupo de personas que
                              compartimos una serie de inquietudes entorno al evangelio y la iglesia de Cristo. Creemos que Dios está 
                              despertando y comisionando a su Iglesia alrededor de toda la tierra para cumplir con su llamado y alcanzar el 
                              destino que Dios tiene para ella. 
                              </p>
                            </div>

                        </div>

                    <!-- </div>

                    <div id="logoAndComponentRow" class="row"> -->
                    
                        <div class="col-md-12 col-lg-6 pb-4 text-center"> 
                          <img id="teamLogoGama" src="../assets/img/GAMABodyLogo.png" alt="Logotipo de GAMA">
                        </div>
                        
                        <div id="identitySpaceBeetweenLogoAndText" class="row"></div>
                        

                        <div id="visionIdentityComponent" class="identityComponent col-12 col-lg-4">
                          <p class="title identityComponentTitle text-center">VISIÓN</p>
                          <hr>
                          <p class="text text-center">Ser parte del <span class="highlightText">despertar</span> que Dios tiene para Su Iglesia.
                          </p>
                        </div>
                        <div class="identityComponent col-12 col-lg-4">
                          <p class="title identityComponentTitle text-center">MISIÓN</p>
                          <hr>
                          <p class="text text-center">A través de diferentes iniciativas de <span class="highlightText">evangelismo</span> y <span class="highlightText">misiones</span> queremos extender el despertar de la Iglesia de Cristo.
                          </p>
                        </div>
                        <div class="identityComponent col-12 col-lg-4">
                          <p class="title identityComponentTitle text-center">VALORES</p>
                          <hr>
                          <p class="text text-center">Identificamos la Palabra de Dios plenamente en la <span class="highlightText">Biblia</span> y confiamos en el <span class="highlightText">Espíritu Santo</span> como nuestro guía.
                          </p>
                        </div>

                    </div>

                </div>

            <!-- </div> -->
        
        </div>
        
      </div>
  </section>
