
  <!--======================================== -->
  <!--=============== IDENTITY =============== -->
  <!--======================================== -->

  <section id="identity">
    
      <div id="identityContainer" class="container-fluid">

        <div class="row">

            <!-- <div id="identityContainer" class="row"> -->

                <div id="canvas"></div> <!-- Lienzo de fondo -->

                <div id="canvasContainer">


                    <div id="identityRow" class="row">

                        <div id="significadoGAMA" class="col-12 col-lg-6 pt-4 pb-4 align-self-center">

                            <div class="col">
                                <p id="identityTitleFirstLine" class="title">{{ 'HOME.IDENTITY.TITLE' | translate }}</p>
                                <p class="text">
                                    <span class="highlightText">{{ 'HOME.GAMA_MEANING' | translate }}</span>
                                    {{ 'HOME.IDENTITY.PARAGRAPH' | translate }}.
                                </p>
                            </div>

                        </div>

                    <!-- </div>

                    <div id="logoAndComponentRow" class="row"> -->
                    
                        <div class="col-md-12 col-lg-6 pb-4 text-center"> 
                          <img id="gamaTeamLogo" src="../assets/img/GAMABodyLogo.png" alt="Logotipo de GAMA">
                        </div>
                        
                        <div id="identitySpaceBeetweenLogoAndText" class="row"></div>

                        <div id="visionIdentityComponent" class="identityComponent col-12 col-lg-4">
                            <p class="title identityComponentTitle text-center">{{ 'HOME.IDENTITY.VISION.TITLE' | translate }}</p>
                            <hr>
                            <p class="text text-center" [innerHTML]="'HOME.IDENTITY.VISION.PARAGRAPH' | translate"></p>
                        </div>

                        <div class="identityComponent col-12 col-lg-4">
                            <p class="title identityComponentTitle text-center">
                                {{ 'HOME.IDENTITY.MISSION.TITLE' | translate }}
                            </p>
                            <hr>
                            <p class="text text-center" [innerHTML]="'HOME.IDENTITY.MISSION.PARAGRAPH' | translate"></p>
                        </div>
                        
                        <div class="identityComponent col-12 col-lg-4">
                            <p class="title identityComponentTitle text-center">{{ 'HOME.IDENTITY.VALUES.TITLE' | translate }}</p>
                            <hr>
                            <p class="text text-center" [innerHTML]="'HOME.IDENTITY.VALUES.PARAGRAPH' | translate"></p>
                        </div>

                    </div>

                </div>

            <!-- </div> -->
        
        </div>
        
      </div>
  </section>
