@import '../../../../styles/_variables.scss';


header {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

    //#f5f5dc;  //De los mejores: 1
    // #ececc7
    // #eeeeda;  //De los mejores: 2
    // #f0ebd6;  //De los mejores: 2
    // #f0ecdc;
    // #f3f0e5;
    // #f8f6ed  //De los mejores: 1
    // background-color: #f8f6ed;
    width: 100%;
    //=========== NORMAL SCREEN SIZE ===========//
    @media only screen and (min-width: 1047px) {
        line-height: 80px;
        max-height: 80px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 1046px) {
        line-height: 70px;
        padding: 0 auto;
        margin: 0 auto;
    }
    // z-index: 3;
    // background: none;
    border-bottom: 1px solid #e6e4e4;
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    ul {
        width: 100%;
        display: flex; /* Usa flexbox para alinear los elementos */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: flex-start; /* Alinea los elementos a la izquierda */
        padding: 0;
        margin: 0;
        // z-index: 3;
    }


    ul li {
        display: flex; /* Asegura que el contenido dentro de los li también se alinee correctamente */
        align-items: center; /* Centra los elementos en el eje vertical */
        margin: 0;
        padding: 0;
        height: 100%; /* Asegura que los li ocupen toda la altura de la cabecera */
        // max-height: 80px;
        // text-wrap:break-word;
        line-height: 1.2; /* Reducir el interlineado */
        z-index: 3;
    }


    a {
        display: flex;
        align-items: center; /* Centra el texto dentro del enlace */
        
        //=========== NORMAL SCREEN SIZE ===========//
        @media only screen and (min-width: 1047px) {
            // padding: 0 30px; /* Reduce el padding lateral si es necesario */
            padding: 0;	
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 1046px) {
            padding: 0; /* Reduce el padding lateral si es necesario */
        }
        height: 100%; /* Hace que los enlaces ocupen toda la altura */
        text-decoration: none;
        color: inherit;
        transition: all 300ms;
        max-height: 80px;
        // white-space: nowrap;     
        word-break: normal; /* Divide palabras largas si es necesario */
        line-height: 1.2; /* Reducir el interlineado */
        cursor: pointer;
        // z-index: 3;
    }


    a:hover, .actived{
        // transform: scale(1.25,1.25);
        color: #a7563e; 
    }



    #headerIconTextLi {

        justify-content: left;
        margin: 0 auto;
        padding-right: 0;

        //=========== NORMAL SCREEN SIZE ===========//
        @media only screen and (min-width: 1047px) {
            width: 20%;
            min-width: 20%;
            max-width: 20%;
            padding-left: 18px;
            padding-top: 1px;
            padding-bottom: 1px;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 1046px) {
            width: 30%;
            min-width: 30%;
            max-width: 30%;
            padding-left: 20px;
            padding-top: 2px;
            padding-bottom: 2px;
            // padding-left: 15px;
        }

        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 734px) {
            width: 40%;
            min-width: 40%;
            max-width: 40%;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 415px) {
            width: 55%;
            min-width: 55%;
            max-width: 55%;
            // padding-right: 10px;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            // padding-left: 10px;
        }
        //=========== CELL PHONE SIZE ===========//
        // @media only screen and (max-width: 376px) {
        // 	width: 55%;
        // 	min-width: 55%;
        // 	max-width: 55%;
        // 	// padding-right: 10px;
        // 	padding-left: 10px;
        // 	padding-top: 3px;
        // 	padding-bottom: 3px;
        // 	// padding-left: 10px;
        // }

        // padding-left: 4px;
        transition: all 300ms;

        #headerLogo {

            align-items: center; /* Centra verticalmente */
            text-decoration: none;
            //=========== NORMAL SCREEN SIZE ===========//
            @media only screen and (min-width: 1047px) {
                padding: 0px 15px;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 1046px) {
                // width: 7%;
                padding: 0;
            }
            

            
            #logo {
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    width: 70px;
                    height: 70px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    width: 60px;
                    height: 60px;
                }
                // z-index: 3;
            }


            #text {
                display: block;
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    max-width: 140px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    max-width: 100px;
                }
                
                text-align: left;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.2;
                color: #757575; /* Cambia según tu diseño */
                margin-left: 10px; /* Espacio entre logo y texto */
                word-wrap: normal; /* Asegura que el texto respete el ancho */
            }

        } //end headerLogo

        &:hover {
            transform: scale(1.1,1.1);
        }


    } //end headerIconTextLi


    #headerSpaceLi {
        flex-grow: 1;
    }	

    //=========== NORMAL SCREEN SIZE ===========//
    @media only screen and (min-width: 1245px) {

        #li1 {
            display: block;
            width: 12%;
            min-width: 12%;
            max-width: 12%;
        }		
        #li2 {
            display: block;
            width: 18%;
            min-width: 18%;
            max-width: 18%;
            margin: 0 auto;
            padding: 0;
        }		
        #li3 {
            display: block;
            width: 17%;
            min-width: 17%;
            max-width: 17%;
            margin: 0 auto;
            padding: 0;
        }	
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 1244px) {

        #li1 {
            display: none;
        }		
        #li2 {
            display: none;
        }		
        #li3 {
            display: none;
        }	
    }


    .flagLi {
        
        //=========== NORMAL SCREEN SIZE ===========//
        @media only screen and (min-width: 1047px) {
            width: 15%;
            justify-content: center;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 1046px) {
            width: 12%;
            // border-left: 20px !important;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 980px) {
            width: 13%;
            // border-left: 20px !important;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 790px) {
            width: 17%;
            // border-left: 20px !important;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 660px) {
            width: 18%;
            // border-left: 20px !important;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 560px) {
            width: 21%;
            // border-left: 20px !important;
        }

        .flag	 {
            margin-left: 0px;
            margin-right: 0;
            //=========== NORMAL SCREEN SIZE ===========//
            @media only screen and (min-width: 1047px) {
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 1046px) {
                padding-left: 40px;
            }

            #englishLabel {
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    display: block;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    display: none;
                }	
            }

            #spanishLabel {
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    display: block;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    display: none;
                }	
            }
        }

        .countryFlag {
            height: 18px;
            width: 25px;
        }	
    }

    #headerMenuButtonLi {

        // text-align: right;
        align-items: center; /* Centra los elementos en el eje vertical */
        justify-content: center;
        margin: 0 auto;
        height: 100%; /* Asegura que los li ocupen toda la altura de la cabecera */
        //=========== NORMAL SCREEN SIZE ===========//
        @media only screen and (min-width: 1047px) {
            width: 6%;
            min-width: 6%;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 1046px) {
            max-width: 8%;
            width: 8%;
            min-width: 8%;
        }
        //=========== CELL PHONE SIZE ===========//
        @media only screen and (max-width: 431px) {
            max-width: 16%;
            width: 16%;
            min-width: 16%;
        }


        #headerMenuButton {

            //=========== NORMAL SCREEN SIZE ===========//
            @media only screen and (min-width: 1047px) {
                // width: 5%;
                // max-width: 5%;
                margin-right: 15px;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 1046px) {
                // width: 20%;
                // max-width: 20%;
                padding-top: 5px;
                margin-right: 25px;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 415px) {
                // width: 20%;
                // max-width: 20%;
                padding-top: 5px;
                margin-right: 10px;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 377px) {
                // width: 20%;
                // max-width: 20%;
                padding-top: 4px;
                margin-right: 0px;
            }

            color: $gamaColor1;
            // background-color: #f8f6ed;
            background: none;
            border: none;
            // z-index: 3;
            
        } //end cellPhoneHeaderMenuButton


        #dropDownMenu {

            display: block; // Ocultar por defecto en móviles
            position: fixed;
            top: 0;
            right: 0;
            margin: 0 auto; 
            padding: 0;
            overflow: hidden;
            //=========== NORMAL SCREEN SIZE ===========//
            @media only screen and (min-width: 1047px) {
                width: 40%;
            }
            //=========== CELL PHONE SIZE ===========//
            @media only screen and (max-width: 1046px) {
                width: 80%;
            }
            height: 100vh;
            // background-color: #fff;
            z-index: 4;
            overflow-y: auto;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            // border-left: 1px thin #a7563e;

            &.open {
                transform: translateX(0); // Mostrar el menú
            }

            #closeButtonRow {
                justify-content: right;
                padding-bottom: 15px;
            }


            #headerCloseButton {

                width: 12%;
                color: $gamaColor1;
                // background-color: white;
                border: none;
                margin-top: 20px;
                margin-right: 25px;

                
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    margin-top: 20px;
                    margin-right: 25px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    margin-top: 15px;
                    margin-right: 5px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 810px) {
                    margin-top: 15px;
                    margin-right: 20px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 415px) {
                    margin-right: 25px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 377px) {
                    margin-right: 25px;
                }
                
            } //end cellPhoneHeaderCloseButton

            #menuCol {
                // max-width: 400px;
                margin: 0 auto;
                text-align: left; /* Alineación a la izquierda */
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    padding-left: 40px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    padding-left: 25px;
                }
                padding-right: 20px;
                // background-color: #f9f9f9; /* Fondo suave */
                // border-radius: 8px;
                // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra elegante */

                #homeTitle {
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        font-size: 1.2rem;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1046px) {
                        font-size: 1.2rem;
                    }
                    font-weight: bold;
                    color: gray; /* Color del texto */
                    margin-bottom: 10px;
                    padding-left: 10px;
                }

                hr {
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1046px) {
                        margin: 0px 0px 18px -5px;
                    }
                }
                
                // .list {
                        // list-style-type: none; /* Quitar el estilo predeterminado */
                        // padding: 0;

                .hiddenMenuElement {
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1245px) {
                        display: none;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1244px) {
                        display: block;
                    }	
                }

                    
                .menuLink {
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        height: 3rem;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1244px) {
                        height: 2.4rem;
                    }
                    // //=========== CELL PHONE SIZE ===========//
                    // @media only screen and (max-width: 1046px) {
                    //     height: 2.4rem;
                    // }
                    margin: 0px 0;
                    padding-left: 10px;
                    // border: rgb(118, 204, 61);
                
                    a {
                        text-decoration: none;
                        padding: 0;
                        // color: inherit;
                        // color: #1976d2; /* Color de los enlaces */
                        //=========== NORMAL SCREEN SIZE ===========//
                        @media only screen and (min-width: 1047px) {
                            font-size: 0.95rem;
                        }
                        //=========== CELL PHONE SIZE ===========//
                        @media only screen and (max-width: 1046px) {
                            font-size: 0.95rem;
                        }
                        //=========== CELL PHONE SIZE ===========//
                        @media only screen and (max-width: 377px) {
                            font-size: 1.05rem;
                        }

                        transition: color 0.3s;
                
                        &:hover {
                        //   color: #0d47a1; /* Color al pasar el mouse */
                            color: $gamaColor7 /* Color al pasar el mouse */
                            // transform: inherit;
                        }


                        // #expandMore {
                            // margin-top:14px;
                            // top:4;
                            // position: relative; /* Asegúrate de establecer una posición relativa al padre */
                            // top: 0px; /* Baja el icono 5px */
                            //=========== CELL PHONE SIZE ===========//
                            // @media only screen and (max-width: 1046px) {
                                // position: relative; /* Asegúrate de establecer una posición relativa al padre */
                                // top: 0px; /* Baja el icono 5px */
                            // }
                        // }

                    } //end a


                    // .submenu-list {
                    //     height: 100%;
                    //     margin: 0 auto;
                    //     // position: relative;
                    //     // top: 0px;
                    //     //=========== CELL PHONE SIZE ===========//
                    //     @media only screen and (max-width: 1046px) {
                    //         position: relative;
                    //         top: 5px;
                    //     }

                    //     div {
                    //         //=========== NORMAL SCREEN SIZE ===========//
                    //         @media only screen and (min-width: 1047px) {
                    //             height: 2.5rem;
                    //         }
                    //         //=========== CELL PHONE SIZE ===========//
                    //         @media only screen and (max-width: 1046px) {
                    //             height: 2.3rem;
                    //         }
                            
                    //         padding-left: 20px;
                    //         text-decoration: none;
                    //         // color: #1976d2; /* Color de los enlaces */
                    //         //=========== NORMAL SCREEN SIZE ===========//
                    //         @media only screen and (min-width: 1047px) {
                    //             font-size: 0.95rem;
                    //         }
                    //         //=========== CELL PHONE SIZE ===========//
                    //         @media only screen and (max-width: 377px) {
                    //             font-size: 1.05rem;
                    //         }
                    //         transition: color 0.3s;
                    
                    //         &:hover {
                    //         //   color: #0d47a1; /* Color al pasar el mouse */
                    //             color: rgb(62, 122, 22); /* Color al pasar el mouse */
                    //         }

                    //     } //end div

                    // } //end submenu-list


                } //end div


                #languageTitle {
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        font-size: 1rem;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1046px) {
                        font-size: 1rem;
                    }
                    font-weight: bold;
                    color: gray; /* Color del texto */
                    margin: 0 auto;
                    padding-top: 18px;
                    padding-bottom: 8px;
                    padding-left: 10px;
                }

                .language {

                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                    
                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        height: 2.7rem;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 1244px) {
                        height: 2.4rem;
                    }
                    // //=========== CELL PHONE SIZE ===========//
                    // @media only screen and (max-width: 1046px) {
                    //     height: 2.4rem;
                    // }
                    margin: 0 auto;
                    padding-left: 10px;
                
                    a {
                        text-decoration: none;
                        padding: 0;
                        //=========== NORMAL SCREEN SIZE ===========//
                        @media only screen and (min-width: 1047px) {
                            font-size: 0.95rem;
                        }
                        //=========== CELL PHONE SIZE ===========//
                        @media only screen and (max-width: 1046px) {
                            font-size: 0.95rem;
                        }
                        //=========== CELL PHONE SIZE ===========//
                        @media only screen and (max-width: 377px) {
                            font-size: 1.05rem;
                        }

                        transition: color 0.3s;
                
                        &:hover {
                            color: $gamaColor7 /* Color al pasar el mouse */
                        }

                    } //end a


                    .menuFlagImgContainer {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        margin: 0 0 0 0;    
                        padding: 0 0 0 8px;
                        //=========== NORMAL SCREEN SIZE ===========//
                        // @media only screen and (min-width: 1047px) {
                        //     height: 18px;
                        // }
                        // //=========== CELL PHONE SIZE ===========//
                        // @media only screen and (max-width: 1046px) {
                        //     // padding-left: 40px;
                        //     height: 18px;
                        // }

                        .menuCountryFlag {
                            height: 16px;
                            width: 24px;
                        }
                    }

                }



            } //end menuCol
            

        } //end cellPhoneDropDownMenu

    } //end headerMenuButtonLi

} //end header