<!--======================================== -->
  <!--========= UNETE A LAS MISIONES ========= -->
  <!--======================================== -->
  
  <section id="uneteMisiones">

    <div class="container">

          <div class="col">
              <p id="uneteMisionesTitleFirstLine" class="title3">{{ 'HOME.JOIN_MISSION.TITLE_1' | translate }}</p>
              <br>
              <p id="uneteMisionesTitleSecondLine" class="title3">{{ 'HOME.JOIN_MISSION.TITLE_2' | translate }}</p>
          </div>

          <p id="uneteMisionesDescParagraph" class="text">
              <!-- Ponte en contacto con nosotros si te atrae la idea de participar en <abbr data-toggle="tooltip" title="En colaboración con iglesias locales y JCUM">misiones</abbr>. -->
              {{ 'HOME.JOIN_MISSION.DESCRIPTION' | translate }}.
          </p>
          <br>
          
          <form [formGroup]="misioneroForm" (ngSubmit)="onSubmit()">
              <!-- Nombre -->
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.NAME' | translate }}</mat-label>
                  <input matInput formControlName="nombre" name="nombre" placeholder="{{ 'HOME.JOIN_MISSION.FORM.NAME_PLACEHOLDER' | translate }}." required>
                  <mat-error *ngIf="misioneroForm.get('nombre')?.touched && misioneroForm.get('nombre')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
              </mat-form-field>
        
              <!-- Apellidos -->
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.SURNAME' | translate }}</mat-label>
                  <input matInput formControlName="apellidos" name="apellidos" placeholder="{{ 'HOME.JOIN_MISSION.FORM.SURNAME_PLACEHOLDER' | translate }}." required>
                  <mat-error *ngIf="misioneroForm.get('apellidos')?.touched && misioneroForm.get('apellidos')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
              </mat-form-field>
        
              <!-- Correo electrónico -->
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.EMAIL' | translate }}</mat-label>
                  <input matInput formControlName="email" name="email" placeholder="{{ 'HOME.JOIN_MISSION.FORM.EMAIL_PLACEHOLDER' | translate }}." required>
                  <mat-error *ngIf="misioneroForm.get('email')?.touched && misioneroForm.get('email')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
                  <mat-error *ngIf="misioneroForm.get('email')?.touched && misioneroForm.get('email')?.errors?.['invalidEmail'] && !misioneroForm.get('email')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_VALID_EMAIL' | translate }}.
                  </mat-error>
              </mat-form-field>

              <!-- Número de teléfono y Cumpleaños -->
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.PHONE_NUM' | translate }}</mat-label>
                  <input matInput formControlName="telefono" name="telefono" placeholder="{{ 'HOME.JOIN_MISSION.FORM.PHONE_PLACEHOLDER' | translate }}." required>
                  <mat-error *ngIf="misioneroForm.get('telefono')?.touched && misioneroForm.get('telefono')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
                  <mat-error *ngIf="misioneroForm.get('telefono')?.touched && misioneroForm.get('telefono')?.errors?.['invalidPhone']">
                      {{ 'HOME.JOIN_MISSION.FORM.FIELD_ERROR_TEXT_PHONE_NOT_VALID' | translate }}: +34123456789.
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.LOCALITY' | translate }}</mat-label>
                  <input matInput formControlName="localidad" name="localidad" placeholder="{{ 'HOME.JOIN_MISSION.FORM.LOCALITY_PLACEHOLDER' | translate }}." required>
                  <mat-error *ngIf="misioneroForm.get('localidad')?.touched && misioneroForm.get('localidad')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.COUNTRY' | translate }}</mat-label>
                  <input matInput formControlName="pais" name="pais" placeholder="" required>
                  <mat-error *ngIf="misioneroForm.get('pais')?.touched && misioneroForm.get('pais')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.TESTIMONY' | translate }}</mat-label>
                  <textarea matInput formControlName="testimonio" name="testimonio" rows="4" placeholder="{{ 'HOME.JOIN_MISSION.FORM.TESTIMONY_PLACEHOLDER' | translate }}." required></textarea>
                  <mat-error *ngIf="misioneroForm.get('testimonio')?.touched && misioneroForm.get('testimonio')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
                  <mat-error *ngIf="misioneroForm.get('testimonio')?.touched && misioneroForm.get('testimonio')?.errors?.['maxLengthExceeded']">
                      {{ 'HOME.FIELD_ERROR_MAXIMUM_LENGTH' | translate }}.
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ 'HOME.JOIN_MISSION.FORM.LANGUAGE' | translate }}</mat-label>
                  <mat-select formControlName="idioma" name="idioma" required>
                      <mat-option value=""></mat-option>
                      <mat-option value="es">Español - ES</mat-option>
                      <mat-option value="en">English - EN</mat-option>
                      <mat-option value="de">Deutsch - DE</mat-option>
                      <!-- <mat-option value="ro">Română - RO</mat-option> -->
                      <!-- <mat-option value="pt">Português - PT</mat-option> -->
                  </mat-select>
                  <mat-error *ngIf="misioneroForm.get('idioma')?.touched && misioneroForm.get('idioma')?.errors?.['required']">
                      {{ 'HOME.FIELD_ERROR_TEXT_REQUIRED' | translate }}. 
                  </mat-error>
              </mat-form-field>
          
              <!-- Checkbox de privacidad -->
              <mat-checkbox formControlName="privacidad" name="privacidad" required>
                  {{ 'HOME.JOIN_MISSION.FORM.PRIVACY_TEXT_1' | translate }}
                  <a href="#" (click)="openPrivacidadModal($event)">{{ 'HOME.JOIN_MISSION.FORM.PRIVACY_TEXT_2' | translate }}</a>
                  <span [hidden]="translate.currentLang===ESPANOL">&nbsp;{{ 'HOME.JOIN_MISSION.FORM.PRIVACY_TEXT_3' | translate }}</span>.
              </mat-checkbox>

              <br>
              <p [hidden]="translate.currentLang===ENGLISH">&nbsp;&nbsp;<span id="mailIcon"><mat-icon >mail</mat-icon></span>&nbsp;Una vez completado, envía tu solicitud y nos pondremos en contacto contigo pronto.</p>
              <p [hidden]="translate.currentLang===ENGLISH">&nbsp;&nbsp;¡Estamos emocionados de poder servir juntos y unidos en esta gran obra de Dios en Europa!</p>
        
              <p [hidden]="translate.currentLang===ESPANOL">&nbsp;&nbsp;<span id="mailIcon"><mat-icon >mail</mat-icon></span>&nbsp;Once completed, submit your application and we will get in touch with you soon.</p>
              <p [hidden]="translate.currentLang===ESPANOL">&nbsp;&nbsp;We are excited to serve together and united in this great work of God in Europe!</p>

              <!-- <p>&nbsp;&nbsp;<span id="mailIcon"><mat-icon >mail</mat-icon></span>&nbsp;{{ 'HOME.JOIN_MISSION.FORM.BOTTOM_TEXT1' | translate }}</p>
              <p>&nbsp;&nbsp;{{ 'HOME.JOIN_MISSION.FORM.BOTTOM_TEXT2' | translate }}</p> -->
        
              <!-- Botón de enviar -->
              <div class="text-center">
                  <button mat-raised-button color="primary" type="submit" [disabled]="misioneroForm.invalid">{{ 'HOME.BUTTON_SEND' | translate }}</button>
              </div>
        
              <!-- Mensaje de éxito -->
              <div *ngIf="enviadoConExito">
                  <div class="container mt-2">
                      <div class="alert alert-success text-dark" role="alert">
                        <!-- <span class="material-icons me-2">check_circle</span>  -->
                          {{ 'HOME.JOIN_MISSION.FORM.FORM_SUCCESS_TEXT' | translate }}.
                      </div>
                  </div>
              </div>
              <!-- Mensaje de error -->
              <div *ngIf="envioFallido">
                  <div class="container mt-2">
                      <div class="alert alert-danger text-dark" role="alert">
                          {{ 'HOME.JOIN_MISSION.FORM.FORM_ERROR_TEXT' | translate }}.
                      </div>
                  </div>
              </div> 
                
          </form>

    </div>

  </section>