

  //======================================== //
  //========= NORMAL SCREEN STYLE ========== //
  //======================================== //
  
  @media only screen and (min-width: 1047px) {

  
    //=========== NORMAL SCREEN UNETE-MISIONES ===========//
  
    #uneteMisiones {
  
        padding: 40px 0;
        background-color: #f9f9f9;
  
      
        .container {
  
          max-width: 800px;
          margin: 0 auto;
          padding: 0 20px;
  
          #uneteMisionesTitleFirstLine {
            // font-family: serif !important;
            font-size: 1.3rem;
            color: #3f51b5;
            letter-spacing: 4px;
            margin: 0 auto;
            padding-bottom: 0px;
            margin-bottom: 0px;
            text-align: center;
          } 
    
          #uneteMisionesTitleSecondLine {
            // font-family: serif !important;
            font-size: 2.9rem;
            color:  var(--bs-dark-rgb);
            letter-spacing: 6px;
            margin: 0 auto;
            padding-bottom: 5px;
            margin-bottom: 40px;
            text-align: center;
          } 
  
          #uneteMisionesDescParagraph {
            text-align: center;
            margin-bottom: 30px;
          }
  
        
          form {
    
              display: flex;
              flex-direction: column;
              gap: 20px;
          
              mat-form-field {
                width: 100%;
              }
          
              mat-checkbox {
                // margin-bottom: 20px;
          
                a {
                  color: #3f51b5;
                  text-decoration: underline;
                  cursor: pointer;
          
                  &:hover {
                    color: #283593;
                  }
                }
              }
          
              button[mat-raised-button] {
                margin-top: 20px;
              }
          
              .mensaje-exito {
                color: green;
                text-align: center;
                margin-top: 20px;
                font-weight: bold;
              }
    
          } //end form
    
        } //end container
      
    } //end uneteMisiones
  
  
  } //end normal screen
  
  
  
  
  //======================================== //
  //=========== CELL PHONE STYLE =========== //
  //======================================== //
  
  @media only screen and (max-width: 1046px) {
  
  
    //=========== CELL PHONE UNETE-MISIONES ===========//
  
    #uneteMisiones {
  
  
      padding: 40px 0;
      background-color: #f9f9f9;
  
    
      .container {
  
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
  
        #uneteMisionesTitleFirstLine {
          // font-family: serif !important;
          font-size: 1.3rem;
          color: #3f51b5;
          letter-spacing: 4px;
          margin: 0 auto;
          padding-bottom: 0px;
          margin-bottom: 0px;
          text-align: center;
        } 
  
        #uneteMisionesTitleSecondLine {
          // font-family: serif !important;
          font-size: 2.7rem;
          color:  var(--bs-dark-rgb);
          letter-spacing: 6px;
          margin: 0 auto;
          padding-bottom: 5px;
          margin-bottom: 40px;
          text-align: center;
        } 
  
        #uneteMisionesDescParagraph {
          text-align: center;
          margin-bottom: 30px;
        }
  
      
        form {
  
            display: flex;
            flex-direction: column;
            gap: 20px;
        
            mat-form-field {
              width: 100%;
            }
        
            mat-checkbox {
              // margin-bottom: 20px;
        
              a {
                color: #3f51b5;
                text-decoration: underline;
                cursor: pointer;
        
                &:hover {
                  color: #283593;
                }
              }
            }
        
            button[mat-raised-button] {
              margin-top: 20px;
            }
        
            // .mensaje-exito {
            //   font-family: Arial, Helvetica, sans-serif !important;
            //   // background-color green;
            //   text-align: center;
            //   margin-top: 20px;
            //   // font-weight: bold;
            // }
  
        } //end form
  
      }
    
      
  
      // padding: 40px 0;
      // background-color: #f9f9f9;
    
      // .container {
      //   max-width: 800px;
      //   margin: 0 auto;
      //   padding: 0 20px;
      // }
    
      // // h2 {
      // //   text-align: center;
      // //   color: #3f51b5;
      // //   margin-bottom: 20px;
      // // }
    
      // p {
      //   text-align: center;
      //   margin-bottom: 30px;
      // }
    
      // form {
  
      //   display: flex;
      //   flex-direction: column;
      //   gap: 20px;
    
      //   mat-form-field {
      //     width: 100%;
      //   }
    
      //   mat-checkbox {
      //     // margin-bottom: 20px;
    
      //     a {
      //       color: #3f51b5;
      //       text-decoration: underline;
      //       cursor: pointer;
    
      //       &:hover {
      //         color: #283593;
      //       }
      //     }
      //   }
    
      //   button[mat-raised-button] {
      //     margin-top: 20px;
      //   }
    
      //   .mensaje-exito {
      //     color: green;
      //     text-align: center;
      //     margin-top: 20px;
      //     font-weight: bold;
      //   }
  
      // } //end form
      
    } //end uneteMisiones
  
  
  } //end cell phone
  
  
  