<section class="quienes-somos">
    <div class="texto">
      <h2>¿Qué significa GAMA?</h2>
      <p>
        Global Awakening Movement Association somos un grupo de personas que compartimos una serie de inquietudes
        entorno al evangelio y la iglesia de Cristo. Creemos que Dios está despertando y comisionando a su Iglesia 
        alrededor de toda la tierra para cumplir con su llamado y alcanzar el destino que Dios tiene para ella.
      </p>
    </div>
    <div class="imagen">
      <img src="assets/logo-gama.png" alt="Logo GAMA">
    </div>
  </section>
  
  <!-- Bloque de Visión, Misión y Valores -->
  <div class="info">
    <div class="info-box">
      <h3>Visión</h3>
      <p>Ser parte del despertar que Dios tiene para Su Iglesia.</p>
    </div>
    <div class="info-box">
      <h3>Misión</h3>
      <p>A través de diferentes iniciativas de evangelismo y misiones queremos extender el despertar de la Iglesia de Cristo.</p>
    </div>
    <div class="info-box">
      <h3>Valores</h3>
      <p>Identificamos la Palabra de Dios plenamente en la Biblia y confiamos en el Espíritu Santo como nuestro guía.</p>
    </div>
  </div>