@import '../../../../styles/_variables.scss';

  
#tenYearsExperience {

        
    .container-fluid {

        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;

        .row {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding: 0;

                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }

                //=========== MEDIUM SCREEN SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    justify-content: center;
                    align-items: center;

                    position: relative;
                }

                
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 777px) {
                    position: relative;
                }

                #canvas {

                    position: absolute;

                    height: 100%;
                //   height: 100vh; // Asegura que cubra toda la altura del viewport
                    // min-height: 100dvh; // Usa la altura real del dispositivo
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                //   padding-left: -10px;
                    
                    z-index: 1; // Capa base del lienzo

                    background: url('../../../../assets/img/europe4.jpg') ; 

                //   background-size: cover;
                //   background-position: center;

                    // background-repeat: no-repeat; // Evita repeticiones

                    // background-size: 100% 100%; // Extiende la imagen al tamaño exacto del contenedor
                //   background-position: top left; // Asegura que empieza desde la esquina superior izquierda

                    // background-repeat: repeat;  // Repite la imagen en ambas direcciones
                    // background-size: auto; // Usa el tamaño original de la imagen

                    // background-repeat: repeat;
                    // background-size: contain; // Ajusta el tamaño sin distorsionar la imagen

                    // background-repeat: repeat-x; // Solo en horizontal
                    // background-repeat: repeat-y; // Solo en vertical (elige una de las dos)

                    backdrop-filter: blur(10px); // Efecto de vidrio esmerilado
                //   opacity: 1; //Reduce la opacidad al 80%
                    
                } //end canvas


                #canvasContainer {

                    display: block;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    padding: 0;

                    z-index: 2;

                    //=========== NORMAL SCREEN SIZE ===========//
                    @media only screen and (min-width: 1047px) {
                        padding-top: 80px;
                        padding-bottom: 80px;
                    }
                    //=========== MEDIUM SCREEN SIZE ===========//
                    @media only screen and (max-width: 1046px) {
                        padding-top: 80px;
                        padding-bottom: 80px;
                    }
                    //=========== CELL PHONE SIZE ===========//
                    @media only screen and (max-width: 777px) {
                        padding-top: 0px;
                    }
                    
                    #tenYearsRow {

                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                        padding: 0;

                        #tenYearsExperienceLelftDiv {

                                display: block;
                                height: 100%;

                                //=========== NORMAL SCREEN SIZE ===========//
                                @media only screen and (min-width: 1047px) {
                                    padding: 0px;
                                }
                                
                                //=========== NORMAL SCREEN SIZE ===========//
                                @media only screen and (min-width: 1194px) {
                                    width: 20%;
                                    max-width: 20%;
                                }
                                
                                //=========== NORMAL SCREEN SIZE ===========//
                                @media only screen and (min-width: 1047px) {
                                    width: 25%;
                                    max-width: 25%;
                                }

                                //=========== CELL PHONE SIZE ===========//
                                @media only screen and (max-width: 1046px) {
                                    display: flex;
                                    padding: 0;
                                    justify-content: center;
                                    margin-bottom: 10px;
                                    width: 30%;
                                }

                                //=========== CELL PHONE SIZE ===========//
                                @media only screen and (max-width: 900px) {
                                    width: 100%;
                                    margin-bottom: 50px;
                                }

                                //=========== CELL PHONE SIZE ===========//
                                @media only screen and (max-width: 777px) {
                                    width: 100%;
                                    margin-top: 50px;
                                    margin-bottom: 50px;
                                }


                                #tenYearsExperienceLelftDivContainer {

                                    height: 100%;
                                    //=========== NORMAL SCREEN SIZE ===========//
                                    @media only screen and (min-width: 1047px) {
                                        padding: 40px 1px 40px 5px;
                                    }

                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 1046px) {
                                        display: block;
                                        width: 100%;
                                        padding: 50px 40px 40px 50px;
                                        // padding-top: 50px;
                                        // padding-bottom: 40px;
                                        // padding-left: 25px;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 900px) {
                                        width: 35%;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 777px) {
                                        width: 40%;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 684px) {
                                        width: 45%;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 594px) {
                                        width: 50%;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 566px) {
                                        width: 53%;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 414px) {
                                        width: 65%;
                                    }
                                    //=========== CELL PHONE SIZE ===========//
                                    @media only screen and (max-width: 375px) {
                                        width: 78%;
                                    }

                                    border-radius: 5px; // Bordes redondeados
                                    background: linear-gradient(135deg, #ffffff, #9b9b9b86); // Gradiente elegante
                                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); // Sombra suave
                                    color: white; // Color del texto
                                    text-align: center; // Centrar el texto
                    
                                    #tenYearsExperience1Span {

                                        //=========== NORMAL SCREEN SIZE ===========//
                                        @media only screen and (min-width: 1047px) {
                                            font-size: 2.8rem;
                                        }

                                        //=========== CELL PHONE SIZE ===========//
                                        @media only screen and (max-width: 1046px) {
                                            font-size: 2.5rem;
                                        }

                                        color: $gamaColor1 !important;
                                        letter-spacing: 6px;
                                        margin: 0 auto;
                                        padding-bottom: 5px;
                                        margin-bottom: 40px;
                                        // text-align: center;
                                    } 
                        
                                    #tenYearsExperience2Span {
                                        //=========== NORMAL SCREEN SIZE ===========//
                                        @media only screen and (min-width: 1047px) {
                                            font-size: 2.3rem;
                                        }

                                        //=========== CELL PHONE SIZE ===========//
                                        @media only screen and (max-width: 1046px) {
                                            font-size: 2rem;
                                        }
                                        color: black;
                                        letter-spacing: 4px;
                                        margin: 0 auto;
                                        text-align: center;
                                    } 
                        
                                    #tenYearsExperience3Span {

                                        @media only screen and (min-width: 1047px) {
                                            font-size: 1.5rem;
                                        }

                                        //=========== CELL PHONE SIZE ===========//
                                        @media only screen and (max-width: 1046px) {
                                            font-size: 1.3rem;
                                        }
                                        color: gray;
                                        letter-spacing: 4px;
                                        margin: 0 auto;
                                        text-align: center;
                                    } 
                        
                                    #tenYearsExperience4Span {
                                        @media only screen and (min-width: 1047px) {
                                            font-size: 1.5rem;
                                        }

                                        //=========== CELL PHONE SIZE ===========//
                                        @media only screen and (max-width: 1046px) {
                                            font-size: 1.2rem;
                                        }
                                        color:  gray;
                                        letter-spacing: 6px;
                                        margin: 0 auto;
                                        // text-align: center;
                                    } 
                        
                                    #tenYearsExperience5Span, #tenYearsExperience6Span {
                                        @media only screen and (min-width: 1047px) {
                                            font-size: 1.6rem;
                                        }

                                        //=========== CELL PHONE SIZE ===========//
                                        @media only screen and (max-width: 1046px) {
                                            font-size: 1.7rem;
                                        }
                                        
                                        color: #1e2757 !important;
                                        letter-spacing: 6px;
                                        margin: 0 auto;
                                        // text-align: center;
                                    } 

                                    #tenYearsExperience7Span {
                                        @media only screen and (min-width: 1047px) {
                                            font-size: 2.2rem;
                                        }

                                        //=========== CELL PHONE SIZE ===========//
                                        @media only screen and (max-width: 1046px) {
                                            font-size: 1.7rem;
                                        }
                                        
                                        color: $gamaColor6 !important;
                                        letter-spacing: 6px;
                                        margin: 0 auto;
                                        // text-align: center;
                                    } 
                                    
                                    
                                } //end tenYearsExperienceLelftDivContainer

                
                        } //end tenYearsExperienceLelftDiv
                
                
                        .imageContainer {

                            //=========== NORMAL SCREEN SIZE ===========//
                            @media only screen and (min-width: 1047px) {
                                display: block;
                                max-width: 350px;
                                margin-left: 35px;
                            }

                            //=========== CELL PHONE SIZE ===========//
                            @media only screen and (max-width: 1046px) {
                                display: block;
                                max-width: 350px;
                                padding-left: 15px;
                                padding-right: 15px;
                                margin-left: 20px;
                                margin-right: 20px;
                            }

                        }  //end imageContainer

                
                        .imageContainer img {

                            width: 100%;
                            height: auto;
                            display: block;
                
                
                            // border-radius: 12px;
                            // border: 6px double #d4af37; /* Borde dorado doble */
                            // background-color: #fff;
                            // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                            // transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                
                
                            border: 6px solid $gamaColor3; /* Color del marco */
                            border-radius: 10px; /* Bordes redondeados */
                            padding: 10px; /* Espacio entre el marco y la imagen */
                            background-color: white; /* Fondo blanco detrás del marco */
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para añadir elegancia */
                            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                
                
                            // border: 9px solid #fff; // Borde blanco
                            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.986); // Sombra suave
                            // border-radius: 10px; // Bordes redondeados
                            // transition: transform 0.3s ease, box-shadow 0.3s ease;
                
                            
                            &:hover {
                                // transform: scale(1.05);
                                // box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
                
                                transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
                                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Más sombra al hacer hover */
                
                                // transform: scale(1.05); // Efecto de zoom al pasar el mouse
                                // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Sombra más pronunciada al pasar e
                            
                            }
                
                        }


                    } //tenYearsRow

                } // canvasContainer
            
        } //end row
    
    } //end container-fluid

}
