

#columnSection, #englishColumnSection {

    //=========== NORMAL SCREEN SIZE ===========//
    @media only screen and (min-width: 1047px) {
        padding: 100px 50px 100px 50px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 1254px) {
        padding: 100px 50px 40px 50px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 1046px) {
        padding: 100px 50px 40px 50px;
    }
    //=========== CELL PHONE SIZE ===========//
    @media only screen and (max-width: 414px) {
        padding: 90px 25px 30px 25px;
    }

    background-color: rgb(33, 33, 33);

    .row {

            // display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0;
            
        
            .imageContainer {

                width: 100%;
                margin: 0 auto;
                padding: 0;
                //=========== NORMAL SCREEN SIZE ===========//
                @media only screen and (min-width: 1047px) {
                    max-width: 340px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1254px) {
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 60px;
                }
                //=========== CELL PHONE SIZE ===========//
                @media only screen and (max-width: 1046px) {
                    max-width: 340px;
                    min-width: 340px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 60px;
                }
                // @media only screen and (max-width: 691px) {
                    // padding-left: 0px;
                    // padding-right: 0px;
                // }
                @media only screen and (max-width: 414px) {
                    max-width: 310px;
                    min-width: 310px;   
                    // min-height: 440px;   
                    // max-height: 440px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                    margin-bottom: 60px;
                    // padding-left: 20px;
                    // padding-right: 20px;
                }


                img {
                    width: 100%;
                    height: auto;
                    display: block;
        
                    border: 9px solid #fff; // Borde blanco
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.986); // Sombra suave
                    border-radius: 10px; // Bordes redondeados
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
            
                    
                    &:hover {
                        
                        //=========== NORMAL SCREEN SIZE ===========//
                        @media only screen and (min-width: 1047px) {
                            transform: scale(1.1); // Efecto de zoom al pasar el mouse
                        }
                        //=========== CELL PHONE SIZE ===========//
                        @media only screen and (max-width: 1046px) {
                            transform: scale(1.05); // Efecto de zoom al pasar el mouse
                        }
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Sombra más pronunciada al pasar e
                
                    }
            
                } //end imageContainer img

            } //end imageContainer
    
        

    } //end row

} //end columnSection, englishColumnSection


