/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant Garamond:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');



@import 'styles/_variables.scss';



@font-face{
	font-family: "DMSerifText-Regular";
	src: url("/assets/fonts/DMSerifText-Regular.ttf")
}

@font-face{
	font-family: "YesevaOne-Regular";
	
	src: url("/assets/fonts/YesevaOne-Regular.ttf")
}

@font-face{
	font-family: "LibreBodoni-VariableFont_wght";
	src: url("/assets/fonts/LibreBodoni-VariableFont_wght.ttf")
}

@font-face{
	font-family: "Vidaloka-Regular";
	src: url("/assets/fonts/Vidaloka-Regular.ttf")
}

@font-face{
	font-family: "PlayfairDisplaySC-Regular";
	src: url("/assets/fonts/PlayfairDisplaySC-Regular.ttf")
}

// @font-face{
// 	font-family: "OpenSans-Regular";
// 	src: url("/assets/fonts/OpenSans-Regular.ttf")
// }

@font-face{
	font-family: "OpenSans-Semibold";
	src: url("/assets/fonts/OpenSans-Semibold.ttf")
}

@font-face{
	font-family: "OpenSans-Bold";
	src: url("/assets/fonts/OpenSans-Semibold.ttf")
}

@font-face{
	font-family: "OpenSans-ExtraBold";
	src: url("/assets/fonts/OpenSans-ExtraBold.ttf")
}



/* Scroll bar hidden Edge y Chrome */
body::-webkit-scrollbar{
//   display: none;
}

/* Scroll bar hidden firefox */
html { 
  scrollbar-width: none;
}


html, body { 
	height: 100%; 
}

body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
}

@mixin gamaTextColor1 {
	color: $gamaColor1;
}
@mixin gamaTextColor5 {
	color: $gamaColor5;
}

// .gamaText {
// 	font-family: 'Playfair Display' !important;
// 	@include gamaTextColor1;
// }


.textColor1 {
	color: $gamaColor1;
}

.textColor2 {
	color: $gamaColor2;
}

.textColor3 {
	color: $gamaColor3;
}

.textColor4 {
	color: $gamaColor4;
}

.textColor5 {
	color: $gamaColor5;
}

.textColor6 {
	color: $gamaColor6;
}

.headerBackgroundColor {
	background-color: $gamaColor5;
}

// .headerTextColor {
// 	@extend .textColor;
// }

// .headerTextColor {
// 	color: $gamaColor1;
// }

.headerText {
	font-family: 'Montserrat' !important;
	// font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px; //***** 
    font-weight: normal;
	// @extend .textColor1;
	color: $gamaColor1;
}

.title {
	font-family: 'Montserrat' !important;
}

.boldTitle {
	font-family: 'Montserrat' !important;
	font-weight: bold;
}

.title2 {
	font-family: 'Playfair Display' !important;
	font-size: 1.5rem;
	// @extend .textColor2;
	color: $gamaColor2;
	letter-spacing: 3px;
}

.title3 {
	font-family: 'Raleway' !important;
	font-size: 1.5rem;
	// @extend .textColor2;
	color: $gamaColor2;
	letter-spacing: 3px;
}


.text {
	font-family: 'Merriweather' !important;
}

.text2 {
	font-family: 'Nunito' !important;
}

.text3 {
	font-family: 'Roboto' !important;
}


.highlightText {

	// @extend .textColor4;
	color: $gamaColor4;
	text-decoration: underline;
	text-decoration-color: $gamaColor3; /* Verde vibrante */
	transition: text-shadow 0.3s ease-in-out;

	//Vibracion
	// display: inline-block;
	// transition: transform 0.1s ease-in-out;
}

.highlightText:hover {
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.backgroundColor {
	background-color: #f9f9f9;
}


