  .full-width {
      width: 100%;
  }
  
  .dialog-actions {
      display: flex;
      justify-content: center;
    //   align-items: center;
      gap: 16px;
    //   height: 20%;
    //   margin-top: 10px;
      padding: 0 0 25px 0;
  }
  
  .cancel-button {
      background-color: #ff4444; /* Rojo */
      color: white;
  }
  
  .enviar-button {
      background-color: #4caf50; /* Verde */
      color: white;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  }